In [2]:
import pandas as pd
import numpy as np

In [3]:
terry = pd.read_csv('Terry_Stops.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
terry.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,18 - 25,-1,20160000000905,467682,Field Contact,None,7765,1985,M,White,...,05:47:00,-,-,-,NaN,N,N,-,-,-
1,-,-1,20150000130727,80117,Arrest,None,7557,1985,M,White,...,15:34:00,-,-,-,NORTH PCT 2ND W - L/U RELIEF,N,N,North,L,L3
2,-,-1,20150000405361,102566,Field Contact,None,6954,1974,M,Asian,...,00:49:00,-,-,-,OPS BUREAU - SPECIAL ASSIGNMENTS,N,Y,East,G,G3
3,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
4,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,04:55:00,-,-,-,NaN,N,N,-,-,-

In [4]:
terry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40867 entries, 0 to 40866
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subject Age Group         40867 non-null  object
 1   Subject ID                40867 non-null  int64
 2   GO / SC Num               40867 non-null  int64
 3   Terry Stop ID             40867 non-null  int64
 4   Stop Resolution           40867 non-null  object
 5   Weapon Type               40867 non-null  object
 6   Officer ID                40867 non-null  object
 7   Officer YOB               40867 non-null  int64
 8   Officer Gender            40867 non-null  object
 9   Officer Race              40867 non-null  object
 10  Subject Perceived Race    40867 non-null  object
 11  Subject Perceived Gender  40867 non-null  object
 12  Reported Date             40867 non-null  object
 13  Reported Time             40867 non-null  object
 14  Initial Call Type         40867 non-null  object
 15  Final Call Type           40867 non-null  object
 16  Call Type                 40867 non-null  object
 17  Officer Squad             40321 non-null  object
 18  Arrest Flag               40867 non-null  object
 19  Frisk Flag                40867 non-null  object
 20  Precinct                  40867 non-null  object
 21  Sector                    40867 non-null  object
 22  Beat                      40867 non-null  object
dtypes: int64(4), object(19)
memory usage: 7.2+ MB

The column names have a space in them. We will replace the ' ' with a '_' in case we use the dot method later in the project

In [5]:
terry.columns = terry.columns.str.replace(' ', '_')

In [6]:
terry.columns

Index(['Subject_Age_Group', 'Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID',
       'Stop_Resolution', 'Weapon_Type', 'Officer_ID', 'Officer_YOB',
       'Officer_Gender', 'Officer_Race', 'Subject_Perceived_Race',
       'Subject_Perceived_Gender', 'Reported_Date', 'Reported_Time',
       'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat'],
      dtype='object')

In [7]:
terry.describe()

         Subject_ID   GO_/_SC_Num  Terry_Stop_ID   Officer_YOB
count  4.086700e+04  4.086700e+04   4.086700e+04  40867.000000
mean   1.322382e+09  2.017193e+13   1.656489e+09   1982.345193
std    3.178191e+09  1.497603e+10   3.920517e+09      8.839786
min   -1.000000e+00  2.009000e+13   2.802000e+04   1900.000000
25%   -1.000000e+00  2.016000e+13   1.591245e+05   1978.000000
50%   -1.000000e+00  2.017000e+13   3.247430e+05   1984.000000
75%   -1.000000e+00  2.018000e+13   5.111550e+05   1989.000000
max    1.280989e+10  2.020000e+13   1.280997e+10   1997.000000

In [8]:
terry.isna().sum()

Subject_Age_Group             0
Subject_ID                    0
GO_/_SC_Num                   0
Terry_Stop_ID                 0
Stop_Resolution               0
Weapon_Type                   0
Officer_ID                    0
Officer_YOB                   0
Officer_Gender                0
Officer_Race                  0
Subject_Perceived_Race        0
Subject_Perceived_Gender      0
Reported_Date                 0
Reported_Time                 0
Initial_Call_Type             0
Final_Call_Type               0
Call_Type                     0
Officer_Squad               546
Arrest_Flag                   0
Frisk_Flag                    0
Precinct                      0
Sector                        0
Beat                          0
dtype: int64

In [9]:
terry.columns

Index(['Subject_Age_Group', 'Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID',
       'Stop_Resolution', 'Weapon_Type', 'Officer_ID', 'Officer_YOB',
       'Officer_Gender', 'Officer_Race', 'Subject_Perceived_Race',
       'Subject_Perceived_Gender', 'Reported_Date', 'Reported_Time',
       'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat'],
      dtype='object')

In [10]:
terry['Terry_Stop_ID'].value_counts(dropna=False)

8611673538     2
12689034912    2
12119304761    2
8677596250     2
12608907801    2
              ..
111759         1
8247974518     1
396628         1
439633         1
131072         1
Name: Terry_Stop_ID, Length: 40857, dtype: int64

In [11]:
x = terry['Terry_Stop_ID'].value_counts()
x = pd.DataFrame(x)
x

             Terry_Stop_ID
8611673538               2
12689034912              2
12119304761              2
8677596250               2
12608907801              2
...                    ...
111759                   1
8247974518               1
396628                   1
439633                   1
131072                   1

[40857 rows x 1 columns]

In [12]:
x = x.loc[x['Terry_Stop_ID']==2].reset_index()
x

         index  Terry_Stop_ID
0   8611673538              2
1  12689034912              2
2  12119304761              2
3   8677596250              2
4  12608907801              2
5  12034618758              2
6  12105013403              2
7  12781960580              2
8   9585545373              2
9  12601385662              2

In [13]:
x = x.rename(columns={'index':'ID_no'})
x

         ID_no  Terry_Stop_ID
0   8611673538              2
1  12689034912              2
2  12119304761              2
3   8677596250              2
4  12608907801              2
5  12034618758              2
6  12105013403              2
7  12781960580              2
8   9585545373              2
9  12601385662              2

In [14]:
x_list = list(x['ID_no'])
terry[terry['Terry_Stop_ID'].isin(x_list)]

,Subject_Age_Group,Subject_ID,GO_/_SC_Num,Terry_Stop_ID,Stop_Resolution,Weapon_Type,Officer_ID,Officer_YOB,Officer_Gender,Officer_Race,...,Reported_Time,Initial_Call_Type,Final_Call_Type,Call_Type,Officer_Squad,Arrest_Flag,Frisk_Flag,Precinct,Sector,Beat
3103,1 - 17,11637443950,20190000465104,12105013403,Arrest,Knife/Cutting/Stabbing Instrument,8500,1988,M,Asian,...,00:13:50,ROBBERY - IP/JO (INCLUDES STRONG ARM),--ROBBERY - ARMED,911,WEST PCT 2ND W - KING,Y,Y,West,M,M2
3312,1 - 17,11637443950,20190000465104,12105013403,Arrest,Mace/Pepper Spray,8500,1988,M,Asian,...,00:13:50,ROBBERY - IP/JO (INCLUDES STRONG ARM),--ROBBERY - ARMED,911,WEST PCT 2ND W - KING,Y,Y,West,M,M2
11060,18 - 25,7764935851,20200000080922,12689034912,Field Contact,Blunt Object/Striking Implement,7667,1981,M,White,...,19:52:40,"WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)","--WEAPON, PERSON WITH - GUN",911,SOUTH PCT 2ND W - OCEAN RELIEF,N,Y,South,R,R1
11070,18 - 25,7764935851,20200000080922,12689034912,Field Contact,Knife/Cutting/Stabbing Instrument,7667,1981,M,White,...,19:52:40,"WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)","--WEAPON, PERSON WITH - GUN",911,SOUTH PCT 2ND W - OCEAN RELIEF,N,Y,South,R,R1
11326,18 - 25,9458419522,20190000285750,9585545373,Field Contact,Firearm,8382,1993,M,White,...,22:50:59,ASLT - IP/JO - PERSON SHOT OR SHOT AT,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,ONVIEW,EAST PCT 3RD W - CHARLIE,N,Y,East,E,E3
11327,18 - 25,9458419522,20190000285750,9585545373,Field Contact,Handgun,8382,1993,M,White,...,22:50:59,ASLT - IP/JO - PERSON SHOT OR SHOT AT,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,ONVIEW,EAST PCT 3RD W - CHARLIE,N,Y,East,E,E3
11473,18 - 25,11896724492,20190000454262,12034618758,Arrest,Knife/Cutting/Stabbing Instrument,7782,1986,M,White,...,15:41:10,DIST - IP/JO - DV DIST - NO ASLT,"--WEAPON, PERSON WITH - GUN",911,EAST PCT 2ND W - CHARLIE RELIEF,Y,Y,East,E,E1
11490,18 - 25,11896724492,20190000454262,12034618758,Arrest,Other Firearm,7782,1986,M,White,...,15:41:10,DIST - IP/JO - DV DIST - NO ASLT,"--WEAPON, PERSON WITH - GUN",911,EAST PCT 2ND W - CHARLIE RELIEF,Y,Y,East,E,E1
23253,26 - 35,7726127566,20200000040587,12601385662,Field Contact,Knife/Cutting/Stabbing Instrument,8629,1995,M,White,...,08:20:02,BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS),--BURGLARY - NON RESIDENTIAL/COMMERCIAL,911,NORTH PCT 3RD W - L/U RELIEF,N,Y,North,U,U3
23271,26 - 35,7726127566,20200000040587,12601385662,Field Contact,Blunt Object/Striking Implement,8629,1995,M,White,...,08:20:02,BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS),--BURGLARY - NON RESIDENTIAL/COMMERCIAL,911,NORTH PCT 3RD W - L/U RELIEF,N,Y,North,U,U3
23740,26 - 35,7730805128,20190000268604,8677596250,Offense Report,Knife/Cutting/Stabbing Instrument,5630,1964,M,Black or African American,...,10:27:54,THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS),--THEFT - CAR PROWL,911,SOUTHWEST PCT - 1ST WATCH - F/W RELIEF,N,Y,SouthWest,F,F2
23799,26 - 35,7730805128,20190000268604,8677596250,Offense Report,Taser/Stun Gun,5630,1964,M,Black or African American,...,10:27:54,THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS),--THEFT - CAR PROWL,911,SOUTHWEST PCT - 1ST WATCH - F/W RELIEF,N,Y,SouthWest,F,F2
23842,26 - 35,7731973837,20190000479273,12119304761,Field Contact,Blunt Object/Striking Implement,8405,1993,M,White,...,15:18:49,"SUSPICIOUS PERSON, VEHICLE OR INCIDENT",--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,ONVIEW,SOUTH PCT 2ND W - R/S RELIEF,N,Y,South,S,S2
23852,26 - 35,7731973837,20190000479273,12119304761,Field Contact,Knife/Cutting/Stabbing Instrument,8405,1993,M,White,...,15:18:49,"SUSPICIOUS PERSON, VEHICLE OR INCIDENT",--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,ONVIEW,SOUTH PCT 2ND W - R/S RELIEF,N,Y,South,S,S2
24385,26 - 35,7805394791,20200000047411,12608907801,Arrest,Firearm,8687,1995,F,White,...,14:28:58,ROBBERY - IP/JO (INCLUDES STRONG ARM),--THEFT - ALL OTHER,911,TRAINING - FIELD TRAINING SQUAD,Y,Y,East,G,G3
24404,26 - 35,7805394791,20200000047411,12608907801,Arrest,Knife/Cutting/Stabbing Instrument,8687,1995,F,White,...,14:28:58,ROBBERY - IP/JO (INCLUDES STRONG ARM),--THEFT - ALL OTHER,911,TRAINING - FIELD TRAINING SQUAD,Y,Y,East,G,G3
24407,26 - 35,7810387129,20190000254490,8611673538,Field Contact,Knife/Cutting/Stabbing Instrument,7712,1987,M,White,...,01:09:47,"SUSPICIOUS PERSON, VEHICLE OR INCIDENT",--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,911,EAST PCT 3RD W - GEORGE,N,Y,-,-,-
24424,26 - 35,7810387129,20190000254490,8611673538,Field Contact,Blunt Object/Striking Implement,7712,1987,M,White,...,01:09:47,"SUSPICIOUS PERSON, VEHICLE OR INCIDENT",--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,911,EAST PCT 3RD W - GEORGE,N,Y,-,-,-
40735,56 and Above,7814963710,20200000099547,12781960580,Offense Report,Knife/Cutting/Stabbing Instrument,8484,1986,M,White,...,11:07:11,"WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)",--PROWLER - TRESPASS,911,NORTH PCT 1ST W - BOY (JOHN),N,Y,North,B,B1
40766,56 and Above,7814963710,20200000099547,12781960580,Offense Report,Firearm,8484,1986,M,White,...,11:07:11,"WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)",--PROWLER - TRESPASS,911,NORTH PCT 1ST W - BOY (JOHN),N,Y,North,B,B1

In [15]:
len(x_list)

10

In [16]:
terry.drop_duplicates(subset=['Terry_Stop_ID'], keep='first', inplace=True)

In [17]:
terry['Terry_Stop_ID'].value_counts()

551950        1
474381        1
212323        1
257303        1
62740         1
             ..
111759        1
8247974518    1
396628        1
439633        1
131072        1
Name: Terry_Stop_ID, Length: 40857, dtype: int64

In [18]:
terry.columns

Index(['Subject_Age_Group', 'Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID',
       'Stop_Resolution', 'Weapon_Type', 'Officer_ID', 'Officer_YOB',
       'Officer_Gender', 'Officer_Race', 'Subject_Perceived_Race',
       'Subject_Perceived_Gender', 'Reported_Date', 'Reported_Time',
       'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat'],
      dtype='object')

In [19]:
terry['Subject_Age_Group'].value_counts(dropna=False)

26 - 35         13535
36 - 45          8486
18 - 25          8474
46 - 55          5235
56 and Above     1973
1 - 17           1873
-                1281
Name: Subject_Age_Group, dtype: int64

In [20]:
terry['Subject_Age_Group'].replace('-',np.NaN, inplace=True)

In [21]:
terry['Subject_Age_Group'].value_counts(dropna=False)

26 - 35         13535
36 - 45          8486
18 - 25          8474
46 - 55          5235
56 and Above     1973
1 - 17           1873
NaN              1281
Name: Subject_Age_Group, dtype: int64

In [22]:
terry['Subject_ID'].value_counts(dropna=False)

-1              34635
 7726859935        10
 7753260438         8
 7726342469         6
 7727827572         6
                ...
 9657273469         1
 7729089669         1
 7726144647         1
 7726443665         1
 11716939786        1
Name: Subject_ID, Length: 5276, dtype: int64

In [23]:
terry['GO_/_SC_Num'].value_counts(dropna=False)

20160000378750    16
20150000190790    16
20180000134604    14
20170000132836    13
20160000001326    12
                  ..
20190000208382     1
20180000000508     1
20180000002559     1
20170000003453     1
20180000071981     1
Name: GO_/_SC_Num, Length: 31696, dtype: int64

We will look to create a new column 'Arrested' with a Boolean value based on weather or not an individual was arrested. The values in this column will be assigned from the 'Stop_Resolution' column, with Arrest having a value of 1 and everything else as 0.

In [24]:
terry['Stop_Resolution'].value_counts(dropna=False)

Field Contact               16126
Offense Report              13940
Arrest                       9907
Referred for Prosecution      728
Citation / Infraction         156
Name: Stop_Resolution, dtype: int64

In [25]:
terry.loc[(terry['Stop_Resolution'] == 'Field Contact'), 'Arrested']  = 0
terry.loc[(terry['Stop_Resolution'] == 'Offense Report'), 'Arrested']  = 0
terry.loc[(terry['Stop_Resolution'] == 'Referred for Prosecution'), 'Arrested']  = 0
terry.loc[(terry['Stop_Resolution'] == 'Citation / Infraction'), 'Arrested']  = 0
terry.loc[(terry['Stop_Resolution'] == 'Arrest'), 'Arrested']  = 1

In [26]:
terry['Arrested'].value_counts(dropna=False)

0.0    30950
1.0     9907
Name: Arrested, dtype: int64

Weapon_Type looks to have many categories. We will look to assign each into a smaller set of categories based on the type of weapon found. The broad categories are 'Firearm','Stabbing Instrument','Other' and None. We will assume '-' values represent no weapons found and we will reassign these values based on this.

In [27]:
terry['Weapon_Type'].value_counts()

None                                 32565
-                                     5998
Lethal Cutting Instrument             1482
Knife/Cutting/Stabbing Instrument      287
Handgun                                261
Firearm Other                          100
Club, Blackjack, Brass Knuckles         49
Blunt Object/Striking Implement         32
Firearm                                 17
Firearm (unk type)                      15
Mace/Pepper Spray                       11
Other Firearm                           11
Club                                     9
Rifle                                    5
None/Not Applicable                      4
Taser/Stun Gun                           3
Shotgun                                  3
Automatic Handgun                        2
Blackjack                                1
Fire/Incendiary Device                   1
Brass Knuckles                           1
Name: Weapon_Type, dtype: int64

In [28]:
terry['Weapon_Type'].replace(['Firearm Other', 'Rifle','Handgun','Firearm (unk type)','Other Firearm','Shotgun','Automatic Handgun'],'Firearm', inplace=True)
terry['Weapon_Type'].replace(['-', 'None/Not Applicable' ],'None', inplace=True)
terry['Weapon_Type'].replace(['Lethal Cutting Instrument','Knife/Cutting/Stabbing Instrument'],'Stabbing Instrument', inplace=True)
terry['Weapon_Type'].replace(['Club, Blackjack, Brass Knuckles', 'Blunt Object/Striking Implement','Mace/Pepper Spray','Club','Taser/Stun Gun','Fire/Incendiary Device','Blackjack','Brass Knuckles' ],'Other', inplace=True)

In [29]:
terry['Weapon_Type'].value_counts()

None                   38567
Stabbing Instrument     1769
Firearm                  414
Other                    107
Name: Weapon_Type, dtype: int64

Now we will create another column with a Boolean value indicating wether or not the indiviudal had a weapon or not.

In [30]:
terry.loc[(terry['Weapon_Type'] != 'None'), 'Weapon_Found'] = 1
terry.loc[(terry['Weapon_Type'] == 'None'), 'Weapon_Found'] = 0

In [31]:
terry['Weapon_Found'].value_counts(dropna=False)

0.0    38567
1.0     2290
Name: Weapon_Found, dtype: int64

In [32]:
terry['Officer_ID'].value_counts(dropna=False)

7456      309
7634      276
7773      248
7758      234
7765      215
         ...
6273        1
6812        1
6259        1
7563        1
6655        1
Name: Officer_ID, Length: 2035, dtype: int64

In [33]:
terry['Officer_YOB'].value_counts(dropna=False)

1986    2910
1987    2580
1984    2549
1991    2336
1985    2326
1992    2025
1990    1870
1988    1822
1989    1730
1982    1726
1983    1585
1979    1350
1981    1267
1971    1177
1993    1087
1978    1042
1977     933
1976     900
1973     853
1980     753
1995     741
1967     683
1968     579
1994     577
1970     543
1974     521
1969     511
1975     473
1962     446
1965     401
1972     392
1964     390
1996     236
1963     227
1958     218
1966     215
1961     200
1959     174
1997     165
1960     154
1954      43
1957      41
1953      32
1955      21
1956      16
1948      11
1900       9
1952       9
1949       5
1946       2
1951       1
Name: Officer_YOB, dtype: int64

In [34]:
terry.columns

Index(['Subject_Age_Group', 'Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID',
       'Stop_Resolution', 'Weapon_Type', 'Officer_ID', 'Officer_YOB',
       'Officer_Gender', 'Officer_Race', 'Subject_Perceived_Race',
       'Subject_Perceived_Gender', 'Reported_Date', 'Reported_Time',
       'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat', 'Arrested',
       'Weapon_Found'],
      dtype='object')

In [35]:
terry['Officer_Race'].value_counts(dropna=False)

White                            31606
Hispanic or Latino                2247
Two or More Races                 2140
Black or African American         1667
Asian                             1550
Not Specified                      911
Nat Hawaiian/Oth Pac Islander      418
American Indian/Alaska Native      309
Unknown                              9
Name: Officer_Race, dtype: int64

In [36]:
import numpy as np

In [37]:
terry['Officer_Race'].replace('Unknown','Not Specified', inplace=True)

In [38]:
terry['Officer_Race'].replace('Not Specified',np.NaN, inplace=True)

In [39]:
terry['Officer_Race'].value_counts(dropna=False)

White                            31606
Hispanic or Latino                2247
Two or More Races                 2140
Black or African American         1667
Asian                             1550
NaN                                920
Nat Hawaiian/Oth Pac Islander      418
American Indian/Alaska Native      309
Name: Officer_Race, dtype: int64

In [40]:
terry['Officer_Race'].isna().sum()

920

In [41]:
terry['Officer_Gender'].value_counts(dropna=False)

M    36293
F     4557
N        7
Name: Officer_Gender, dtype: int64

Officer_Gender has 7 values of 'N'. We are assuming that this represents missing data. We will use the mode of this column to impute.

In [42]:
terry['Officer_Gender'].mode()

0    M
dtype: object

In [43]:
terry['Officer_Gender'].replace('N','M', inplace=True)

In [44]:
terry['Officer_Gender'].value_counts(dropna=False)

M    36300
F     4557
Name: Officer_Gender, dtype: int64

In [45]:
terry['Subject_Perceived_Race'].value_counts(dropna=False)

White                                        20056
Black or African American                    12187
Unknown                                       2062
Hispanic                                      1684
-                                             1396
Asian                                         1265
American Indian or Alaska Native              1221
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       25
Name: Subject_Perceived_Race, dtype: int64

In [46]:
terry['Subject_Perceived_Race'].replace('-','Unknown', inplace=True)

In [47]:
terry['Subject_Perceived_Race'].replace('Unknown',np.NaN, inplace=True)

In [48]:
terry['Subject_Perceived_Race'].value_counts(dropna=False)

White                                        20056
Black or African American                    12187
NaN                                           3458
Hispanic                                      1684
Asian                                         1265
American Indian or Alaska Native              1221
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       25
Name: Subject_Perceived_Race, dtype: int64

In [49]:
terry['Subject_Perceived_Gender'].value_counts(dropna=False)

Male                                                         31838
Female                                                        8432
Unable to Determine                                            326
-                                                              253
Unknown                                                          7
Gender Diverse (gender non-conforming and/or transgender)        1
Name: Subject_Perceived_Gender, dtype: int64

In [50]:
terry['Subject_Perceived_Gender'].replace(['Unable to Determine','-'],'Unknown', inplace=True)

In [51]:
terry['Subject_Perceived_Gender'].replace('Unknown','Male', inplace=True)

In [52]:
terry['Subject_Perceived_Gender'].value_counts(dropna=False)

Male                                                         32424
Female                                                        8432
Gender Diverse (gender non-conforming and/or transgender)        1
Name: Subject_Perceived_Gender, dtype: int64

In [53]:
terry['Reported_Date'].value_counts()

2015-10-01T00:00:00    101
2015-09-29T00:00:00     66
2015-05-28T00:00:00     57
2015-07-18T00:00:00     55
2019-04-26T00:00:00     54
                      ...
2015-05-10T00:00:00      1
2015-04-28T00:00:00      1
2015-05-06T00:00:00      1
2015-03-24T00:00:00      1
2015-05-13T00:00:00      1
Name: Reported_Date, Length: 1851, dtype: int64

In [54]:
terry['Reported_Date'].unique()

array(['2016-03-01T00:00:00', '2015-09-06T00:00:00',
       '2015-11-21T00:00:00', ..., '2015-03-31T00:00:00',
       '2015-05-13T00:00:00', '2015-04-14T00:00:00'], dtype=object)

In [55]:
terry['Reported_Time'].value_counts(dropna=False)

19:18:00    51
03:09:00    50
02:56:00    50
03:13:00    50
19:02:00    49
            ..
21:50:56     1
18:30:19     1
15:45:09     1
13:40:45     1
15:09:08     1
Name: Reported_Time, Length: 7432, dtype: int64

In [56]:
columns_to_check = [ 'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat']

In [57]:
for col in columns_to_check:
    print('Values for {}:\n{}\n\n'.format(col, terry[col].unique()))

Values for Initial_Call_Type:
['-' 'SUSPICIOUS STOP - OFFICER INITIATED ONVIEW'
 'SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT'
 'DIST - IP/JO - DV DIST - NO ASLT'
 'NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)'
 'MVC - HIT AND RUN (NON INJURY), INCLUDES IP/JO'
 'THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS)'
 'SUSPICIOUS PERSON, VEHICLE OR INCIDENT' 'SHOPLIFT - THEFT'
 'ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)'
 'MVC - WITH INJURIES (INCLUDES HIT AND RUN)'
 'FIGHT - VERBAL/ORAL (NO WEAPONS)'
 'WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)'
 'DISTURBANCE, MISCELLANEOUS/OTHER' 'PROWLER - IP/JO'
 'PERSON IN BEHAVIORAL/EMOTIONAL CRISIS'
 'FIGHT - IP - PHYSICAL (NO WEAPONS)' 'AUTO RECOVERY' 'TRESPASS'
 'TRAFFIC STOP - OFFICER INITIATED ONVIEW'
 'BURG - IP/JO - RES (INCL UNOCC STRUCTURES)'
 'ROBBERY - IP/JO (INCLUDES STRONG ARM)'
 'SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT' 'CARJACKING - IP/JO - ROBBERY'
 'WARRANT - MISD WARRANT PICKUP' 'NUISANCE - MISCHIEF'
 'BURG - RES (INCL UNOCC STRUCTURES ON PROP)'
 'ALARM - COMM, SILENT/AUD BURG (INCL BANKS)'
 'UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE)'
 'DOWN - CHECK FOR PERSON DOWN'
 'THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING)'
 'BURG - COMM BURGLARY (INCLUDES SCHOOLS)'
 'AUTO THEFT - VEH THEFT OR THEFT & RECOVERY' 'WARRANT - FELONY PICKUP'
 'DIST - DV - NO ASLT' 'SICK PERSON'
 'HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT)'
 'UNKNOWN - ANI/ALI - LANDLINE (INCLUDES OPEN LINE)'
 'ASLT - WITH OR W/O WEAPONS (NO SHOOTINGS)' 'TRAFFIC - ROAD RAGE'
 'PROPERTY - DAMAGE' 'ASLT - IP/JO - DV' 'ARSON - IP/JO'
 'ORDER - IP - VIOLATION OF DV COURT ORDER'
 'SEX IN PUBLIC PLACE/VIEW (INCL MASTURBATION)'
 'ORDER - VIOLATING DV COURT ORDER' 'ROBBERY (INCLUDES STRONG ARM)'
 'ORDER - VIOLATION OF COURT ORDER (NON DV)'
 'BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS)'
 'TRAFFIC - BLOCKING ROADWAY' 'ASLT - IP/JO - PERSON SHOT OR SHOT AT'
 'PANHANDLING, AGGRESSIVE' 'UNDERCOVER OPS, CAUTION (INCLUDES STAKEOUTS)'
 'FOLLOW UP' 'DUI - DRIVING UNDER INFLUENCE'
 'FIGHT - IP/JO - WITH WEAPONS' 'FIGHT - WITH WEAPONS'
 'FIGHT - JO - PHYSICAL (NO WEAPONS)'
 'LEWD -  (EXPOSING, FLASHING, URINATING IN PUB)'
 'PROPERTY - DAMAGE (GUN RELATED)' 'TRAFFIC - MOVING VIOLATION'
 'MVC - UNK INJURIES' 'SFD - ASSIST ON FIRE OR MEDIC RESPONSE'
 'PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY'
 'HARAS - NO BIAS, THREATS OR MALICIOUSNESS'
 'ASSIST OTHER AGENCY - ROUTINE SERVICE' 'ILLEGAL DUMPING'
 'FIREWORKS - NUISANCE (NO HAZARD)' 'LIQUOR VIOLATIONS - ADULT'
 'FRAUD - FORGERY,BUNCO, SCAMS, ID THEFT, ETC'
 'UNKNOWN - COMPLAINT OF UNKNOWN NATURE' 'OPEN - BUILDING, DOOR, ETC.'
 'MVC - NON INJURY, BLOCKING'
 'WEAPN - GUN,DEADLY WPN (NO THRTS/ASLT/DIST)' 'NARCOTICS WARRANT SERVICE'
 'HELP THE OFFICER' 'SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS'
 'VICE - PROSTITUTION' 'SERVICE - WELFARE CHECK'
 'LIQUOR VIOLATIONS - MINOR' 'PROWLER' 'JUVENILE - RUNAWAY'
 'PURSE SNATCH - IP/JO - ROBBERY' 'RAPE - IP/JO'
 'OVERDOSE - DRUG RELATED CASUALTY'
 'AUTO THEFT-IP/JO - VEHICLE, PLATES, TABS'
 'NOISE - DISTURBANCE (PARTY, ETC)' 'THEFT OF SERVICES'
 'PURSE SNATCH - ROBBERY' 'JUVENILE - RUNAWAY PICKUP' 'MISSING - CHILD'
 'NARCOTICS WARRANT SERVICE - EXECUTED, SECURED' 'ASLT - DV'
 'WARRANT - SEARCH. CAUTION (EXCL NARCOTICS)' 'CHILD - IP/JO - LURING'
 'TRAF - ELUDING POLICE' 'FOOT - ELUDING POLICE'
 'THREATS - DV - NO ASSAULT' 'RAPE' 'WARRANT - SEARCH. EXECUTED, SECURED'
 'CARJACKING - ROBBERY' 'ASLT - PERSON SHOT OR SHOT AT'
 'ASSIST PUBLIC - NO WELFARE CHK OR DV ORDER SERVICE'
 'CHILD - ABAND, ABUSED, MOLESTED, NEGLECTED'
 'ORDER  - SERVICE OF DV COURT ORDER'
 'NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)'
 'ASLT - MOLESTED ADULT (GROPED, FONDLED, ETC.)' 'OFF DUTY EMPLOYMENT'
 'DEMONSTRATIONS' 'PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS)'
 'TRAFFIC - ASSIST MOTORIST'
 '-ASSIGNED DUTY - FOOT BEAT (FROM ASSIGNED CAR)'
 '-ASSIGNED DUTY - STAKEOUT'
 'ALARM - RESIDENTIAL - BURGLARY, SILENT/AUDIBLE'
 'CHILD - IP/JO - ABAND, ABUSE, MOLEST, NEGLECT'
 'PEACE-STANDBY TO ASSURE (NO COURT ORDR SVC)'
 'MVC - REPORT, NON INJ/NON BLKG OR AFTER FACT INJ'
 'BURN - RECKLESS BURNING' 'EXPLOSION - IP/JO' 'TRU - THEFT'
 'ASSIST OTHER AGENCY - EMERGENCY SERVICE' 'BOMB THREATS - IP/JO'
 'PARKING VIOLATION (EXCEPT ABANDONED CAR)' 'ARSON - REPORT'
 'BIAS -RACIAL, POLITICAL, SEXUAL MOTIVATION' 'PEDESTRIAN VIOLATIONS'
 'AWOL - ADULT OR JUVENILE' 'ASSIST SPD - ROUTINE SERVICE'
 'ALARM - AUDIBLE AUTOMOBILE (UNOCC/ANTI-THEFT)'
 'DIRECTED PATROL ACTIVITY' 'DOWN - CHECK FOR DOWN PERSON' 'LITTERING'
 'ALARM - BANK (HOLD-UP)' 'PROPERTY - FOUND' 'CHILD -  LURING'
 'NARCOTICS - FOUND' 'FOUND - PERSON'
 'AUTO - THEFT/LOSS, PLATES AND/OR TAB' 'SUSPICIOUS PACKAGE'
 'ANIMAL - INJURED, DEAD HAZARD, OTHER'
 'SUICIDE, SUICIDAL PERSON AND ATTEMPTS' 'KNOWN KIDNAPPNG'
 'REQUEST TO WATCH' 'ESCAPE - PRISONER' 'MISSING - ADULT'
 'SLEEPER ABOARD BUS/COMMUTER TRAIN'
 'PHONE - OBSCENE OR NUISANCE PHONE CALLS'
 'ALARM - ATM MACHINE, FREE STANDING'
 'ALARM - RESIDENTIAL - SILENT/AUD PANIC/DURESS'
 'DOA - CASUALTY, DEAD BODY' 'VICE - PORNOGRAPHY' 'GAMBLING'
 'INJURED - IP/JO - PERSON/INDUSTRIAL ACCIDENT' 'ANIMAL - IP/JO - BITE'
 'UNKNOWN - ANI/ALI - PAY PHNS (INCL OPEN LINE)'
 'MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)'
 'INJURED -  PERSON/INDUSTRIAL ACCIDENT'
 'ALARM - COMM, HOLD-UP/PANIC (EXCEPT BANKS)'
 'HAZ - IMMINENT THRT TO PHYS SAFETY (NO HAZ MAT)'
 'ASSIST SPD - URGENT SERVICE' 'ANIMAL, REPORT - BITE']


Values for Final_Call_Type:
['-' '--SEX OFFENSES (NON-RAPE) - LEWD CONDUCT' '--PROWLER - TRESPASS'
 '--WEAPON, PERSON WITH - GUN' '--DV - ARGUMENTS, DISTURBANCE (NO ARREST)'
 '--NARCOTICS - OTHER' '--TRAFFIC - MV COLLISION INVESTIGATION'
 '--THEFT - CAR PROWL' '--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON'
 '--THEFT - SHOPLIFT' '--THEFT - AUTO ACCESSORIES'
 '--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY)' '--DISTURBANCE - OTHER'
 '--SUSPICIOUS CIRCUM. - SUSPICIOUS VEHICLE' '--PROPERTY DEST (DAMG)'
 '--KIDNAP - GENERAL' '--AUTOMOBILES - RECOVERY (THEFT)'
 '--WARRANT SERVICES - FELONY' '--ASSAULTS - HARASSMENT, THREATS'
 '--ASSAULTS, OTHER' '--TRAFFIC - MOVING VIOLATION'
 '--WEAPON,PERSON WITH - OTHER WEAPON' '--ROBBERY - STRONG ARM'
 '--THEFT - ALL OTHER' '--WARRANT SERVICES - MISDEMEANOR'
 '--ROBBERY - ARMED' '--CRISIS COMPLAINT - GENERAL'
 '--DISTURBANCE - FIGHT' 'NUISANCE - MISCHIEF'
 '--SUSPICIOUS CIRCUM. - BUILDING (OPEN DOOR, ETC)'
 '--ALARM-COMM (INC BANK, ATM, SCHOOLS, BSN)'
 '--BURGLARY - RESIDENTIAL OCCUPIED'
 '--AUTOMOBILES - AUTO THEFT & RECOVERY'
 '--BURGLARY - NON RESIDENTIAL/COMMERCIAL'
 'ROBBERY - IP/JO (INCLUDES STRONG ARM)'
 'SUSPICIOUS PERSON, VEHICLE OR INCIDENT' 'TRESPASS' '--THEFT - BICYCLE'
 '--PERSON - RUNAWAY' '--PROWLER - GENERAL'
 '--NARCOTICS - MARIJUANA PUBLIC USE(NOT DISPENSARY)'
 '--ARSON, BOMBS, EXPLO - RECKLESS BURNING'
 '--DV - ENFORCE COURT ORDER (ARREST MANDATED)'
 '--AUTOMOBILES - AUTO THEFT' '--BURGLARY - RESIDENTIAL, UNOCCUPIED'
 '--DRIVE BY SHOOTING - NO INJURIES'
 '--ANIMAL COMPLAINT - NOISE,STRAY,BITE'
 '--ASSIST OTHER AGENCY - COUNTY AGENCY' '--NARCOTICS - NARS REPORT'
 '--TRAFFIC - D.U.I.' '-ASSIGNED DUTY - STAKEOUT'
 '--ASSAULTS - FIREARM INVOLVED'
 '--PROPERTY DEST (DAMG) - GRAFFITI (INCLUDES GANG)'
 '--VICE - PROSTITUTION' 'PROPERTY - DAMAGE'
 '--FRAUD - FRAUD, INCLUDING BUNCO' '--DV - ASSIST VICTIM BY COURT ORDER'
 'DISTURBANCE, MISCELLANEOUS/OTHER' '--TRAFFIC - REFUSE TO STOP (PURSUIT)'
 '--BURGLARY - UNOCC STRUC ON RESN PROP'
 'PERSON IN BEHAVIORAL/EMOTIONAL CRISIS'
 '--NARCOTICS - DRUG TRAFFIC LOITERING'
 'FIGHT - JO - PHYSICAL (NO WEAPONS)'
 '--PROWLER - TRESPASS, PARKS EXCLUSION'
 'THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING)'
 '--MISCHIEF OR NUISANCE - GENERAL' '--ASSIST OTHER AGENCY - CITY AGENCY'
 '--DISTURBANCE - NOISE' '--NARCOTICS - NARCOTICS WARRANT SERVICE'
 '--INTOX & LIQ VIOLS - ADULTS (VIOLATIONS)'
 '--PREMISE CHECKS - CRIME PREVENTION' '--FRAUD - FORGERY, BAD CHECKS'
 '--HAZARDS - HAZARDS' '--DV - DOMESTIC VIOLENCE (ARREST DISCRETIONARY)'
 '--ASSIST OTHER AGENCY - STATE AGENCY' '--DISTURBANCE - JUVENILE'
 '--PERSON - FOUND PERSON' 'SUSPICIOUS STOP - OFFICER INITIATED ONVIEW'
 '--INTOX & LIQ VIOLS - MINORS (VIOLATIONS)' '--PERSON - MISSING PERSON'
 '--ASSIST PUBLIC - OTHER (NON-SPECIFIED)'
 '--MISC MISD AND VIOLS - RECKLESS ENDANGERMENT'
 '--RAPE - KNOWN SUSPECT (ACQUAINTANCE)'
 '--CASUALTY NON-TRAF NON-CRIM - DRUG RELATED (OD)'
 '--CHILD - CHILD ENDANGERMENT'
 '--NARCOTICS - FOUND , RECOVERED NARCOTICS'
 '--HARBOR - ASSIST BOATER (NON EMERG)' '-PRISONER ESCORT - BUSY CODE'
 'PURSE SNATCH - IP/JO - ROBBERY' 'WARRANT - FELONY PICKUP'
 'BURG - COMM BURGLARY (INCLUDES SCHOOLS)'
 'SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT'
 '--RAPE - UNKNOWN SUSPECT (STRANGER)'
 '--ARSON,BOMBS,EXPLO - BOMBS, EXPLO,LARGE FIREWORKS'
 'BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS)' '--HOMICIDE'
 '--TRAFFIC - PEDESTRIAN VIOLATION'
 'HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT)'
 '--COMMERCIAL SEXUAL EXPLOITATION OF MINORS (CSEC)'
 '--DV - SERVICE OF COURT ORDER'
 '-ASSIGNED DUTY - COMMUNITY,SCHOOL,SPECIAL EVENT'
 '--DV - STANDBY TO ASSURE PEACE' '--DISTURBANCE - NOISE RESIDENTIAL'
 '--SEX OFFENSES (RAPE) - MOLESTING' '--TRAFFIC - ASSIST MOTORIST'
 '--MISC MISD AND VIOLS - PARKS EXCLUSION'
 'WEAPN - GUN,DEADLY WPN (NO THRTS/ASLT/DIST)'
 '--DV - DOMESTIC THREATS BY PHONE OR WRITING'
 '--ARSON, BOMBS, EXPLO - ARSON'
 'ASLT - WITH OR W/O WEAPONS (NO SHOOTINGS)'
 '--CHILD - ABANDONED, ABUSED AND NEGLECTED' 'ASLT - DV'
 '--TRAFFIC - BLOCKING TRAFFIC' '--PROPERTY - FOUND PROPERTY'
 'FIGHT - IP - PHYSICAL (NO WEAPONS)'
 'THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS)'
 '--TRAFFIC - PARKING VIOL (EXCEPT ABANDONED CAR)' 'SHOPLIFT - THEFT'
 '--INTOX & LIQ VIOLS - INTOXICATED PERSON'
 'ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)'
 '--AUTOMOBILES - LICENSE PLATE(S) THEFT OR LOSS'
 'UNKNOWN - COMPLAINT OF UNKNOWN NATURE' '--ASSAULTS - GANG RELATED'
 'NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)'
 '--HARBOR - BOAT ACCIDENT' 'WARRANT - MISD WARRANT PICKUP'
 '--ALARM-RESIDENTIAL BURG' 'FOLLOW UP'
 'BURG - IP/JO - RES (INCL UNOCC STRUCTURES)'
 'BURG - RES (INCL UNOCC STRUCTURES ON PROP)'
 'FIGHT - IP/JO - WITH WEAPONS' 'MVC - NON INJURY, BLOCKING'
 'ASLT - IP/JO - DV' 'FIREWORKS - NUISANCE (NO HAZARD)'
 '--TRAFFIC - BICYCLE VIOLATION'
 'SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT'
 'PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY' 'AUTO RECOVERY'
 'ASLT - IP/JO - PERSON SHOT OR SHOT AT' 'HOSPITAL GUARD ASSIGNMENT'
 '--CROWD MGMNT (STAND BY ONLY)'
 'HARAS - NO BIAS, THREATS OR MALICIOUSNESS'
 '--ALARM-COMM ROBB (BANK, PANIC, DURESS)'
 'MVC - WITH INJURIES (INCLUDES HIT AND RUN)' 'BOMB - THREATS'
 '--VICE - OTHER' '--ASSIST OTHER AGENCY - FEDERAL AGENCY'
 '--SEX OFFENSES (NON-RAPE) - FAILURE TO REGISTER'
 '--ALARM-OTHER (VARDA,PDT,FIRE,LOCAL,METRO,ETC))'
 '--ANIMAL COMPLAINT - INJURED,DEAD,DANGEROUS' 'THEFT OF SERVICES'
 '--CASUALTY,NON-TRAF,NON-CRIM - NON-DRUG RELATED'
 'LIQUOR VIOLATIONS - ADULT'
 'WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)'
 'SERVICE - WELFARE CHECK' '--ASSAULTS - TELEPHONE, WRITING'
 '--CRISIS COMPLAINT - PICK-UP OR TRANSPORT'
 'ORDER - VIOLATION OF COURT ORDER (NON DV)'
 'ROBBERY (INCLUDES STRONG ARM)' 'ASSIST OTHER AGENCY - EMERGENCY SERVICE'
 '-OFF DUTY EMPLOYMENT' 'DIST - IP/JO - DV DIST - NO ASLT'
 '--ALARM-RESIDENTIAL PANIC OR DURESS'
 'ALARM - COMM, SILENT/AUD BURG (INCL BANKS)'
 'AUTO THEFT - VEH THEFT OR THEFT & RECOVERY' 'ESCAPE - PRISONER'
 '--VICE - GAMBLING' 'TRAFFIC STOP - OFFICER INITIATED ONVIEW'
 '--PREMISE CHECKS - REQUEST TO WATCH'
 'MVC - HIT AND RUN (NON INJURY), INCLUDES IP/JO'
 '--PREMISE CHECKS - BUSINESS CHECK'
 'ASSIST OTHER AGENCY - ROUTINE SERVICE'
 '-ASSIGNED DUTY - FOOT BEAT (FROM ASSIGNED CAR)'
 'BURN - RECKLESS BURNING' 'RAPE' 'NARCOTICS - FOUND'
 '--PREMISE CHECKS - HOMELESS ENCAMPMENT' 'PROPERTY - FOUND'
 'DIST - DV - NO ASLT' '--PROPERTY - MISSING PROPERTY'
 '--ASSIST PUBLIC - 911 HANG UP, OPEN LINE'
 'FIGHT - VERBAL/ORAL (NO WEAPONS)'
 'LEWD -  (EXPOSING, FLASHING, URINATING IN PUB)'
 'UNDERCOVER OPS, CAUTION (INCLUDES STAKEOUTS)'
 'ASSIST PUBLIC - NO WELFARE CHK OR DV ORDER SERVICE'
 'DOWN - CHECK FOR PERSON DOWN'
 'SEX IN PUBLIC PLACE/VIEW (INCL MASTURBATION)'
 '--TRAFFIC - COMMUNITY TRAFFIC COMPLAINT (CTC)'
 'NARCOTICS WARRANT SERVICE' 'DOWN - CHECK FOR DOWN PERSON'
 'TRAFFIC - MOVING VIOLATION'
 'NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)'
 'DUI - DRIVING UNDER INFLUENCE']


Values for Call_Type:
['-' 'ONVIEW' '911' 'TELEPHONE OTHER, NOT 911'
 'ALARM CALL (NOT POLICE ALARM)' 'PROACTIVE (OFFICER INITIATED)'
 'SCHEDULED EVENT (RECURRING)' 'TEXT MESSAGE']


Values for Officer_Squad:
[nan 'NORTH PCT 2ND W - L/U RELIEF' 'OPS BUREAU - SPECIAL ASSIGNMENTS'
 'SOUTH PCT 1ST W - ROBERT' 'WEST PCT 3RD W - MARY'
 'NORTH PCT 2ND W - NORA' 'WEST PCT 3RD W - K/Q RELIEF'
 'SOUTH PCT 1ST W - R/S RELIEF' 'WEST PCT OPS - ACT NIGHT'
 'TRAINING - FIELD TRAINING SQUAD' 'NORTH PCT 1ST W - LINCOLN'
 'WEST PCT 1ST W - KQ/DM RELIEF' 'SOUTH PCT 3RD W - OCEAN'
 'WEST PCT 1ST W - DAVID/MARY' 'SOUTHWEST PCT 1ST W - WILLIAM'
 'WEST PCT 2ND W - DAVID BEATS' 'WEST PCT 2ND W - MARY BEATS'
 'NORTH PCT 3RD W - LINCOLN' 'SOUTH PCT 3RD W - ROBERT'
 'SOUTHWEST PCT 2ND W - WILLIAM' 'WEST PCT 2ND W - KING'
 'SOUTHWEST PCT 3RD W - WILLIAM' 'WEST PCT 2ND W - SPECIAL BEATS'
 'NORTH PCT 2ND WATCH - B/N RELIEF' 'WEST PCT 2ND W - D/M RELIEF'
 'SOUTH PCT 1ST W - SAM' 'EAST PCT 3RD W - E/G RELIEF'
 'EAST PCT 1ST W - EDWARD (CHARLIE)' 'SOUTH PCT 3RD W - SAM'
 'SOUTHWEST PCT 2ND WATCH - F/W RELIEF' 'EAST PCT 2ND W - EDWARD'
 'EAST PCT 1ST W - GEORGE (CHARLIE)' 'SOUTH PCT 2ND W - SAM'
 'NORTH PCT OPS - ACT DAY' 'NORTH PCT 3RD W - NORA'
 'SOUTHWEST PCT 1ST W - FRANK' 'WEST PCT 2ND W - QUEEN'
 'NORTH PCT 3RD W - JOHN' 'NORTH PCT 1ST W - BOY (JOHN)'
 'SOUTH PCT 3RD W - R/S RELIEF' 'NORTH PCT 1ST W - L/U RELIEF'
 'NORTH PCT 3RD W - BOY' 'NORTH PCT 2ND W - UNION'
 'WEST PCT 2ND W - DAVID' 'NORTH PCT 3RD W - B/N RELIEF'
 'SOUTH PCT 3RD W - OCEAN RELIEF' 'WEST PCT 2ND W - KING BEATS'
 'SOUTH PCT OPS - NIGHT ACT' 'SOUTH PCT 2ND W - OCEAN RELIEF'
 'SOUTHWEST PCT OPS - NIGHT ACT' 'EAST PCT 1ST W - E/G RELIEF (CHARLIE)'
 'NORTH PCT 1ST W - UNION' 'NORTH PCT 1ST W - NORA (JOHN)'
 'NARC - PROACTIVE SQUAD C' 'EAST PCT 3RD W - EDWARD'
 'NORTH PCT 2ND W - JOHN RELIEF' 'NORTH PCT 2ND WATCH - NORTH BEATS'
 'MAJOR CRIMES TASK FORCE' 'TRAF - DUI SQUAD' 'EAST PCT 2ND W - CHARLIE'
 'EAST PCT OPS - NIGHT ACT' 'SOUTHWEST PCT 2ND W - FRANK'
 'NORTH PCT 3RD W - UNION' 'EAST PCT 3RD W - GEORGE'
 'NORTH PCT 2ND W - BOY' 'SOUTHWEST PCT - 1ST WATCH - F/W RELIEF'
 'SOUTHWEST PCT - 3RD WATCH - F/W RELIEF' 'EAST PCT 2ND W - GEORGE'
 'SOUTH PCT OPS - DAY ACT' 'EAST PCT 2ND W - E/G RELIEF'
 'NORTH PCT 1ST W - B/N RELIEF (JOHN)' 'WEST PCT 2ND W - MARY'
 'WEST PCT 3RD W - KING' 'SOUTH PCT 2ND W - OCEAN'
 'NORTH PCT 2ND W - LINCOLN' 'WEST PCT 3RD W - DAVID BEATS'
 'NORTH PCT 2ND W - JOHN' 'EAST PCT 3RD WATCH - CHARLIE RELIEF'
 'SOUTH PCT 2ND W - ROBERT' 'GANG SQUAD B' 'EAST PCT 3RD W - CHARLIE'
 'NORTH PCT 3RD W - L/U RELIEF' 'TRAINING - LEARNING MANAGEMENT SYSTEM'
 'WEST PCT 1ST W - KING/QUEEN' 'WEST PCT OPS - CPT'
 'SOUTHWEST PCT 2ND W - SOUTHWEST BEATS' 'SOUTH PCT OPS - CPT'
 'SWAT - NIGHT SQUAD 2' 'CANINE - NIGHT SQUAD' 'SAU SQUAD A'
 'SOUTH PCT 2ND W - R/S RELIEF' 'SOUTHWEST PCT 3RD W - FRANK'
 'NORTH PCT OPS - CPT' 'WEST PCT 2ND W - K/Q RELIEF' 'CANINE - SQUAD C'
 'SOUTH PCT 1ST W - OCEAN' 'EAST PCT 2ND W - BEATS'
 'WEST PCT 3RD W - D/M RELIEF' 'WEST PCT 3RD W - DAVID' 'ROBBERY SQUAD B'
 'SWAT - DAY SQUAD 2' 'NORTH PCT 3RD W - JOHN RELIEF'
 'EAST PCT 2ND W - CHARLIE RELIEF' 'GANG SQUAD C' 'WEST PCT 3RD W - QUEEN'
 'COMM - INTERNET AND TELEPHONE REPORTING (ITRU)' 'BURG/THEFT/JUV - SOUTH'
 'EAST PCT OPS - CPT' 'WEST PCT OPS - SEA CTR' 'SWAT - DAY SQUAD 1'
 'HARBOR - SQUAD A' 'SOUTH PCT 2ND W - SAM BEATS'
 'EAST PCT 3RD W - EAST BEATS' 'CANINE - SQUAD A' 'TRAF - AM ENFORCEMENT'
 'SOUTH PCT OPS - BURG/THEFT' 'AUTO THEFT' 'SOUTHWEST PCT OPS - CPT'
 'COMMUNITY OUTREACH - YOUTH VIOLENCE -SCHOOLS DETAIL' 'GANG SQUAD A'
 'DV SQUAD A - INVESTIGATIONS'
 'COMMUNITY OUTREACH - SPECIAL PROJECTS DETAIL'
 'CRISIS INTERVENTION COORDINATION SQUAD' 'CRISIS RESPONSE SQUAD'
 'HR - HUMAN RESOURCES  - DEPT UNAVAIL PERSONNEL' 'BURG/THEFT/JUV - WEST'
 'BURG/THEFT/JUV - NORTH' 'BURG/THEFT/JUV - EAST'
 'WEST PCT OPS - MOUNTED PATROL' 'PAWN DETAIL' 'JOINT ENFORCEMENT TEAM'
 'ROBBERY SQUAD A' 'SOUTHWEST PCT OPS - DAY ACT'
 'SOUTHWEST PCT OPS - BURG/THEFT' 'HR - DEPARTMENT UNAVAILABLE PERSONNEL'
 'SWAT - NIGHT SQUAD 1' 'NORTH PCT OPS - BURG/THEFT'
 'WEST PCT OPS - BURG/THEFT' 'HR - BLEA - ACADEMY RECRUITS'
 'PUBLIC AFFAIRS SQUAD' 'TRAF - PM ENFORCEMENT'
 'TRAF - COLLISION INVESTIGATION' 'CANINE - DAY SQUAD'
 'JOINT ENFORCEMENT TEAM (JET)'
 'COMMUNITY OUTREACH - YOUTH VIOLENCE-SCHOOLS DETAIL'
 'EAST PCT OPS - BURG/THEFT' 'COMMUNITY OUTREACH UNIT'
 'DV SQUAD C - ELDER ABUSE' 'NAVIGATION TEAM - SQUAD A' 'HARBOR - SQUAD D'
 'RECORDS - DAY SHIFT' 'TRAINING - ADVANCED - SQUAD C'
 'NORTH PCT 2ND W - PCT SUPPORT' 'TRAF - MOTORCYCLE UNIT - T2 SQUAD'
 'VICE - GENERAL INVESTIGATIONS SQUAD' 'TRAF - MOTORCYCLE UNIT - T4 SQUAD'
 'NAVIGATION TEAM - SQUAD B' 'ZOLD CRIME ANALYSIS UNIT - ANALYSTS']


Values for Arrest_Flag:
['N' 'Y']


Values for Frisk_Flag:
['N' 'Y' '-']


Values for Precinct:
['-' 'North' 'East' 'South' 'Southwest' 'West' 'Unknown' 'SouthWest' 'OOJ'
 'FK ERROR']


Values for Sector:
['-' 'L     ' 'G     ' 'O     ' 'N     ' 'F     ' 'W     ' 'E     '
 'C     ' 'K     ' 'U     ' 'M     ' 'S     ' 'R     ' 'J     ' 'D     '
 'B     ' 'Q     ' 'K' '99    ' 'C' 'O' 'S' 'E' 'B' 'U' 'R' 'D' 'F' 'W'
 'G' 'N' 'J' 'M' 'Q' 'L']


Values for Beat:
['-' 'L3    ' 'G3    ' 'O2    ' 'G2    ' 'N2    ' 'F1    ' 'F3    '
 'W3    ' 'E2    ' 'C3    ' 'K2    ' 'L2    ' 'N3    ' 'U1    ' 'M3    '
 'K1    ' 'S1    ' 'S3    ' 'F2    ' 'U2    ' 'U3    ' 'C2    ' 'E1    '
 'L1    ' 'O3    ' 'R1    ' 'J2    ' 'D1    ' 'B3    ' 'Q3    ' 'S2    '
 'J3    ' 'K3' 'R3    ' 'C1    ' 'W1    ' 'E3    ' 'R2    ' 'W2    '
 'M1    ' 'B2    ' 'O1    ' '99    ' 'D3    ' 'B1    ' 'D2    ' 'M2    '
 'Q1    ' 'N1    ' 'K3    ' 'J1    ' 'K2' 'Q2    ' 'G1    ' 'C2' 'O2' 'S3'
 'E2' 'K1' 'B1' 'U2' 'E3' 'S2' 'R2' 'D3' 'C3' 'F1' 'W2' 'G2' 'U3' 'N1'
 'D1' 'O1' 'W1' 'J3' 'B2' 'F2' 'W3' 'C1' 'O3' 'N3' 'N2' 'M2' 'J2' 'J1'
 'Q3' 'G1' 'S1' 'D2' 'M3' 'R1' 'Q2' 'U1' 'F3' 'OOJ' 'B3' 'E1' 'R3' 'M1'
 'G3' 'L2' 'L3' 'L1' 'Q1' '99' 'S     ']

Based on the output above, it looks like the following columns are free form. 'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad'.
Additionally, we have found out that columns 'Arrest_Flag' and 'Frisk_Flag' are not necessarily accurate. We will therefore leave the aforementioned columns as they are.

The columns 'Precinct', 'Sector' and 'Beat' could be useful. We will look to clean those columns now. Sector and Beat has a lot of white space. We will need to remove these.

In [58]:
terry['Precinct'].value_counts()

-            9462
North        9127
West         8832
East         5482
South        4866
Southwest    2320
SouthWest     538
Unknown       200
OOJ            18
FK ERROR       12
Name: Precinct, dtype: int64

In [59]:
terry['Precinct'].unique()

array(['-', 'North', 'East', 'South', 'Southwest', 'West', 'Unknown',
       'SouthWest', 'OOJ', 'FK ERROR'], dtype=object)

In [60]:
terry['Precinct'].replace('Southwest','SouthWest',inplace=True)
terry['Precinct'].replace(['-','OOJ','FK ERROR'],'Unknown', inplace=True)

In [61]:
terry['Precinct'].value_counts(dropna=False)

Unknown      9692
North        9127
West         8832
East         5482
South        4866
SouthWest    2858
Name: Precinct, dtype: int64

In [62]:
tpu = terry[terry['Precinct']=='Unknown']

In [63]:
tpu['Officer_Squad'].value_counts(dropna=False)

TRAINING - FIELD TRAINING SQUAD      928
NORTH PCT 2ND WATCH - NORTH BEATS    388
WEST PCT 1ST W - DAVID/MARY          301
WEST PCT 2ND W - MARY BEATS          244
WEST PCT 1ST W - KQ/DM RELIEF        213
                                    ...
DV SQUAD A - INVESTIGATIONS            1
HR - BLEA - ACADEMY RECRUITS           1
AUTO THEFT                             1
TRAF - AM ENFORCEMENT                  1
NAVIGATION TEAM - SQUAD A              1
Name: Officer_Squad, Length: 138, dtype: int64

In [64]:
tpu['Officer_Squad'].fillna('Unknown',inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [65]:
tpu.loc[tpu['Officer_Squad'].str.contains("NORTH PCT"), 'Precinct'] ='North' 
tpu.loc[tpu['Officer_Squad'].str.contains("WEST PCT"), 'Precinct'] ='West'
tpu.loc[tpu['Officer_Squad'].str.contains("EAST PCT"), 'Precinct'] ='East'
tpu.loc[tpu['Officer_Squad'].str.contains("SOUTH PCT"), 'Precinct'] ='South'
tpu.loc[tpu['Officer_Squad'].str.contains("SOUTHWEST PCT"), 'Precinct'] ='SouthWest' 
tpu.loc[tpu['Precinct'] =='Unknown','Precinct'] = "OTHER"

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [66]:
tpu['Precinct'].unique()

array(['OTHER', 'West', 'North', 'South', 'SouthWest', 'East'],
      dtype=object)

In [67]:
tpu['Precinct'].value_counts(dropna=False)

West         2815
North        2303
South        1253
OTHER        1231
East         1114
SouthWest     976
Name: Precinct, dtype: int64

In [68]:
tpu.head()

,Subject_Age_Group,Subject_ID,GO_/_SC_Num,Terry_Stop_ID,Stop_Resolution,Weapon_Type,Officer_ID,Officer_YOB,Officer_Gender,Officer_Race,...,Final_Call_Type,Call_Type,Officer_Squad,Arrest_Flag,Frisk_Flag,Precinct,Sector,Beat,Arrested,Weapon_Found
0,18 - 25,-1,20160000000905,467682,Field Contact,None,7765,1985,M,White,...,-,-,Unknown,N,N,OTHER,-,-,0.0,0.0
4,NaN,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,-,-,Unknown,N,N,OTHER,-,-,0.0,0.0
5,NaN,-1,20150000002451,46430,Field Contact,None,7591,1985,M,Hispanic or Latino,...,-,-,WEST PCT 3RD W - MARY,N,N,West,-,-,0.0,0.0
6,NaN,-1,20150000002815,51725,Field Contact,None,7456,1979,M,White,...,-,-,NORTH PCT 2ND W - NORA,N,N,North,-,-,0.0,0.0
7,NaN,-1,20150000002815,51727,Field Contact,None,7456,1979,M,White,...,-,-,NORTH PCT 2ND W - NORA,N,N,North,-,-,0.0,0.0

In [69]:
terry_2 = terry[terry['Precinct'] !='Unknown']

In [70]:
terry_2['Precinct'].unique()

array(['North', 'East', 'South', 'SouthWest', 'West'], dtype=object)

In [71]:
len(terry)

40857

In [72]:
len(terry_2)

31165

In [73]:
len(tpu)

9692

In [74]:
31165+9692

40857

In [75]:
terry_merged = pd.concat([terry_2, tpu])

In [76]:
len(terry_merged)

40857

In [77]:
terry_merged.head()

,Subject_Age_Group,Subject_ID,GO_/_SC_Num,Terry_Stop_ID,Stop_Resolution,Weapon_Type,Officer_ID,Officer_YOB,Officer_Gender,Officer_Race,...,Final_Call_Type,Call_Type,Officer_Squad,Arrest_Flag,Frisk_Flag,Precinct,Sector,Beat,Arrested,Weapon_Found
1,NaN,-1,20150000130727,80117,Arrest,None,7557,1985,M,White,...,-,-,NORTH PCT 2ND W - L/U RELIEF,N,N,North,L,L3,1.0,0.0
2,NaN,-1,20150000405361,102566,Field Contact,None,6954,1974,M,Asian,...,-,-,OPS BUREAU - SPECIAL ASSIGNMENTS,N,Y,East,G,G3,0.0,0.0
3,NaN,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2,1.0,0.0
16,NaN,-1,20150000004043,70892,Field Contact,None,7582,1966,M,Hispanic or Latino,...,-,-,SOUTH PCT 1ST W - R/S RELIEF,N,N,East,G,G2,0.0,0.0
19,NaN,-1,20150000004385,76734,Field Contact,None,6759,1970,M,Black or African American,...,-,-,NORTH PCT 1ST W - LINCOLN,N,N,North,N,N2,0.0,0.0

In [78]:
terry_merged.isna().sum()

Subject_Age_Group           1281
Subject_ID                     0
GO_/_SC_Num                    0
Terry_Stop_ID                  0
Stop_Resolution                0
Weapon_Type                    0
Officer_ID                     0
Officer_YOB                    0
Officer_Gender                 0
Officer_Race                 920
Subject_Perceived_Race      3458
Subject_Perceived_Gender       0
Reported_Date                  0
Reported_Time                  0
Initial_Call_Type              0
Final_Call_Type                0
Call_Type                      0
Officer_Squad                381
Arrest_Flag                    0
Frisk_Flag                     0
Precinct                       0
Sector                         0
Beat                           0
Arrested                       0
Weapon_Found                   0
dtype: int64

In [79]:
terry_merged['Precinct'].unique()

array(['North', 'East', 'South', 'SouthWest', 'West', 'OTHER'],
      dtype=object)

In [80]:
terry_merged.columns

Index(['Subject_Age_Group', 'Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID',
       'Stop_Resolution', 'Weapon_Type', 'Officer_ID', 'Officer_YOB',
       'Officer_Gender', 'Officer_Race', 'Subject_Perceived_Race',
       'Subject_Perceived_Gender', 'Reported_Date', 'Reported_Time',
       'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat', 'Arrested',
       'Weapon_Found'],
      dtype='object')

In [81]:
terry_merged['Sector'].unique()

array(['L     ', 'G     ', 'O     ', 'N     ', 'F     ', 'W     ',
       'E     ', 'C     ', 'K     ', 'U     ', 'M     ', 'S     ',
       'R     ', 'J     ', 'D     ', 'B     ', 'Q     ', 'K', 'C', 'O',
       'S', 'E', 'B', 'U', 'R', 'D', 'F', 'W', 'G', 'N', 'J', 'M', 'Q',
       'L', '-', '99    '], dtype=object)

In [82]:
terry_merged['Sector'] = terry_merged['Sector'].str.rstrip()

In [83]:
terry_merged['Sector'].unique()

array(['L', 'G', 'O', 'N', 'F', 'W', 'E', 'C', 'K', 'U', 'M', 'S', 'R',
       'J', 'D', 'B', 'Q', '-', '99'], dtype=object)

In [84]:
terry_merged['Sector'].replace(['-','99'],np.nan, inplace=True)

In [85]:
terry_merged['Sector'].unique()

array(['L', 'G', 'O', 'N', 'F', 'W', 'E', 'C', 'K', 'U', 'M', 'S', 'R',
       'J', 'D', 'B', 'Q', nan], dtype=object)

In [86]:
terry_merged['Beat'].unique()

array(['L3    ', 'G3    ', 'O2    ', 'G2    ', 'N2    ', 'F1    ',
       'F3    ', 'W3    ', 'E2    ', 'C3    ', 'K2    ', 'L2    ',
       'N3    ', 'U1    ', 'M3    ', 'K1    ', 'S1    ', 'S3    ',
       'F2    ', 'U2    ', 'U3    ', 'C2    ', 'E1    ', 'L1    ',
       'O3    ', 'R1    ', 'J2    ', 'D1    ', 'B3    ', 'Q3    ',
       'S2    ', 'J3    ', 'K3', 'R3    ', 'C1    ', 'W1    ', 'E3    ',
       'R2    ', 'W2    ', 'M1    ', 'B2    ', 'O1    ', 'D3    ',
       'B1    ', 'D2    ', 'M2    ', 'Q1    ', 'N1    ', 'K3    ',
       'J1    ', 'K2', 'Q2    ', 'G1    ', 'C2', 'O2', 'S3', 'E2', 'K1',
       'B1', 'U2', 'E3', 'S2', 'R2', 'D3', 'C3', 'F1', 'W2', 'G2', 'U3',
       'N1', 'D1', 'O1', 'W1', 'J3', 'B2', 'F2', 'W3', 'C1', 'O3', 'N3',
       'N2', 'M2', 'J2', 'J1', 'Q3', 'G1', 'S1', 'D2', 'M3', 'R1', 'Q2',
       'U1', 'F3', 'B3', 'E1', 'R3', 'M1', 'G3', 'L2', 'L3', 'L1', 'Q1',
       '99', '-', '99    ', 'OOJ', 'S     '], dtype=object)

In [87]:
terry_merged['Beat'] = terry_merged['Beat'].str.rstrip()

In [88]:
terry_merged['Beat'].unique()

array(['L3', 'G3', 'O2', 'G2', 'N2', 'F1', 'F3', 'W3', 'E2', 'C3', 'K2',
       'L2', 'N3', 'U1', 'M3', 'K1', 'S1', 'S3', 'F2', 'U2', 'U3', 'C2',
       'E1', 'L1', 'O3', 'R1', 'J2', 'D1', 'B3', 'Q3', 'S2', 'J3', 'K3',
       'R3', 'C1', 'W1', 'E3', 'R2', 'W2', 'M1', 'B2', 'O1', 'D3', 'B1',
       'D2', 'M2', 'Q1', 'N1', 'J1', 'Q2', 'G1', '99', '-', 'OOJ', 'S'],
      dtype=object)

In [89]:
terry_merged['Sector'].replace(['-','99','OOJ'],np.nan, inplace=True)

In [90]:
terry_merged['Sector'].unique()

array(['L', 'G', 'O', 'N', 'F', 'W', 'E', 'C', 'K', 'U', 'M', 'S', 'R',
       'J', 'D', 'B', 'Q', nan], dtype=object)

In [91]:
terry_merged.isna().sum()

Subject_Age_Group           1281
Subject_ID                     0
GO_/_SC_Num                    0
Terry_Stop_ID                  0
Stop_Resolution                0
Weapon_Type                    0
Officer_ID                     0
Officer_YOB                    0
Officer_Gender                 0
Officer_Race                 920
Subject_Perceived_Race      3458
Subject_Perceived_Gender       0
Reported_Date                  0
Reported_Time                  0
Initial_Call_Type              0
Final_Call_Type                0
Call_Type                      0
Officer_Squad                381
Arrest_Flag                    0
Frisk_Flag                     0
Precinct                       0
Sector                      9694
Beat                           0
Arrested                       0
Weapon_Found                   0
dtype: int64

We will user KNN imputer for the missing values. We will not be using Sector of Officer_Squad columns in our final model, so we will replace the nan values here with a placeholder 'None'.

In [92]:
terry_merged['Sector'].fillna('None',inplace=True)

In [93]:
terry_merged['Sector'].unique()

array(['L', 'G', 'O', 'N', 'F', 'W', 'E', 'C', 'K', 'U', 'M', 'S', 'R',
       'J', 'D', 'B', 'Q', 'None'], dtype=object)

In [94]:
terry_merged['Officer_Squad'].fillna('None',inplace=True)

In [95]:
(terry_merged['Officer_Squad']=='None').value_counts()

False    40476
True       381
Name: Officer_Squad, dtype: int64

In [96]:
terry_merged_list =list(terry_merged.columns)

In [97]:
for col in terry_merged_list:
    print('Values for {}:\n{}\n\n'.format(col, terry_merged[col].unique()))

Values for Subject_Age_Group:
[nan '1 - 17' '18 - 25' '26 - 35' '36 - 45' '46 - 55' '56 and Above']


Values for Subject_ID:
[         -1  7727213211  7767683597 ... 10392309338 10152733321
 12808060722]


Values for GO_/_SC_Num:
[20150000130727 20150000405361 20140000120677 ... 20190000407531
 20190000336844 20200000116031]


Values for Terry_Stop_ID:
[      80117      102566       92317 ... 11661688001 10152729457
 12808055733]


Values for Stop_Resolution:
['Arrest' 'Field Contact' 'Offense Report' 'Referred for Prosecution'
 'Citation / Infraction']


Values for Weapon_Type:
['None' 'Firearm' 'Stabbing Instrument' 'Other']


Values for Officer_ID:
['7557  ' '6954  ' '7500  ' ... 8327 4882 5786]


Values for Officer_YOB:
[1985 1974 1984 1966 1970 1969 1964 1963 1986 1987 1976 1983 1990 1975
 1977 1991 1959 1992 1979 1981 1962 1973 1967 1980 1972 1968 1948 1982
 1960 1971 1958 1988 1961 1989 1953 1994 1965 1993 1978 1996 1995 1997
 1955 1900 1954 1956 1957 1946 1949 1952 1951]


Values for Officer_Gender:
['M' 'F']


Values for Officer_Race:
['White' 'Asian' 'Black or African American' 'Hispanic or Latino'
 'American Indian/Alaska Native' 'Two or More Races'
 'Nat Hawaiian/Oth Pac Islander' nan]


Values for Subject_Perceived_Race:
[nan 'Asian' 'Black or African American' 'White' 'Hispanic' 'Multi-Racial'
 'American Indian or Alaska Native'
 'Native Hawaiian or Other Pacific Islander' 'Other']


Values for Subject_Perceived_Gender:
['Male' 'Female'
 'Gender Diverse (gender non-conforming and/or transgender)']


Values for Reported_Date:
['2015-09-06T00:00:00' '2015-11-21T00:00:00' '2015-10-16T00:00:00' ...
 '2015-05-11T00:00:00' '2015-04-16T00:00:00' '2015-04-14T00:00:00']


Values for Reported_Time:
['15:34:00' '00:49:00' '11:32:00' ... '17:04:20' '05:45:45' '16:22:46']


Values for Initial_Call_Type:
['-' 'SUSPICIOUS STOP - OFFICER INITIATED ONVIEW'
 'SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT'
 'DIST - IP/JO - DV DIST - NO ASLT'
 'NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)'
 'MVC - HIT AND RUN (NON INJURY), INCLUDES IP/JO'
 'THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS)'
 'SUSPICIOUS PERSON, VEHICLE OR INCIDENT' 'SHOPLIFT - THEFT'
 'ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)'
 'MVC - WITH INJURIES (INCLUDES HIT AND RUN)'
 'FIGHT - VERBAL/ORAL (NO WEAPONS)'
 'WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)'
 'DISTURBANCE, MISCELLANEOUS/OTHER' 'PROWLER - IP/JO'
 'PERSON IN BEHAVIORAL/EMOTIONAL CRISIS'
 'FIGHT - IP - PHYSICAL (NO WEAPONS)' 'AUTO RECOVERY' 'TRESPASS'
 'ROBBERY - IP/JO (INCLUDES STRONG ARM)'
 'SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT' 'CARJACKING - IP/JO - ROBBERY'
 'WARRANT - MISD WARRANT PICKUP' 'NUISANCE - MISCHIEF'
 'BURG - RES (INCL UNOCC STRUCTURES ON PROP)'
 'ALARM - COMM, SILENT/AUD BURG (INCL BANKS)'
 'UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE)'
 'DOWN - CHECK FOR PERSON DOWN'
 'THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING)'
 'BURG - COMM BURGLARY (INCLUDES SCHOOLS)'
 'BURG - IP/JO - RES (INCL UNOCC STRUCTURES)' 'WARRANT - FELONY PICKUP'
 'DIST - DV - NO ASLT' 'SICK PERSON'
 'TRAFFIC STOP - OFFICER INITIATED ONVIEW'
 'HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT)'
 'UNKNOWN - ANI/ALI - LANDLINE (INCLUDES OPEN LINE)'
 'ASLT - WITH OR W/O WEAPONS (NO SHOOTINGS)' 'TRAFFIC - ROAD RAGE'
 'PROPERTY - DAMAGE' 'ASLT - IP/JO - DV' 'ARSON - IP/JO'
 'ORDER - IP - VIOLATION OF DV COURT ORDER'
 'SEX IN PUBLIC PLACE/VIEW (INCL MASTURBATION)'
 'ORDER - VIOLATING DV COURT ORDER' 'ROBBERY (INCLUDES STRONG ARM)'
 'ORDER - VIOLATION OF COURT ORDER (NON DV)'
 'BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS)'
 'TRAFFIC - BLOCKING ROADWAY' 'ASLT - IP/JO - PERSON SHOT OR SHOT AT'
 'PANHANDLING, AGGRESSIVE' 'UNDERCOVER OPS, CAUTION (INCLUDES STAKEOUTS)'
 'FOLLOW UP' 'DUI - DRIVING UNDER INFLUENCE'
 'FIGHT - IP/JO - WITH WEAPONS' 'FIGHT - WITH WEAPONS'
 'FIGHT - JO - PHYSICAL (NO WEAPONS)'
 'LEWD -  (EXPOSING, FLASHING, URINATING IN PUB)'
 'PROPERTY - DAMAGE (GUN RELATED)' 'TRAFFIC - MOVING VIOLATION'
 'MVC - UNK INJURIES' 'SFD - ASSIST ON FIRE OR MEDIC RESPONSE'
 'HARAS - NO BIAS, THREATS OR MALICIOUSNESS'
 'ASSIST OTHER AGENCY - ROUTINE SERVICE' 'ILLEGAL DUMPING'
 'FIREWORKS - NUISANCE (NO HAZARD)' 'LIQUOR VIOLATIONS - ADULT'
 'PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY'
 'FRAUD - FORGERY,BUNCO, SCAMS, ID THEFT, ETC'
 'UNKNOWN - COMPLAINT OF UNKNOWN NATURE'
 'AUTO THEFT - VEH THEFT OR THEFT & RECOVERY'
 'OPEN - BUILDING, DOOR, ETC.' 'MVC - NON INJURY, BLOCKING'
 'WEAPN - GUN,DEADLY WPN (NO THRTS/ASLT/DIST)'
 'SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS' 'VICE - PROSTITUTION'
 'SERVICE - WELFARE CHECK' 'LIQUOR VIOLATIONS - MINOR' 'PROWLER'
 'JUVENILE - RUNAWAY' 'PURSE SNATCH - IP/JO - ROBBERY' 'RAPE - IP/JO'
 'OVERDOSE - DRUG RELATED CASUALTY'
 'AUTO THEFT-IP/JO - VEHICLE, PLATES, TABS'
 'NOISE - DISTURBANCE (PARTY, ETC)' 'THEFT OF SERVICES'
 'PURSE SNATCH - ROBBERY' 'JUVENILE - RUNAWAY PICKUP' 'MISSING - CHILD'
 'ASLT - DV' 'WARRANT - SEARCH. CAUTION (EXCL NARCOTICS)'
 'CHILD - IP/JO - LURING' 'TRAF - ELUDING POLICE' 'FOOT - ELUDING POLICE'
 'THREATS - DV - NO ASSAULT' 'RAPE' 'WARRANT - SEARCH. EXECUTED, SECURED'
 'CARJACKING - ROBBERY' 'ASLT - PERSON SHOT OR SHOT AT'
 'ASSIST PUBLIC - NO WELFARE CHK OR DV ORDER SERVICE'
 'CHILD - ABAND, ABUSED, MOLESTED, NEGLECTED'
 'NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)'
 'ASLT - MOLESTED ADULT (GROPED, FONDLED, ETC.)' 'OFF DUTY EMPLOYMENT'
 'DEMONSTRATIONS' 'HELP THE OFFICER' 'TRAFFIC - ASSIST MOTORIST'
 '-ASSIGNED DUTY - FOOT BEAT (FROM ASSIGNED CAR)'
 '-ASSIGNED DUTY - STAKEOUT'
 'ALARM - RESIDENTIAL - BURGLARY, SILENT/AUDIBLE'
 'CHILD - IP/JO - ABAND, ABUSE, MOLEST, NEGLECT'
 'PEACE-STANDBY TO ASSURE (NO COURT ORDR SVC)'
 'MVC - REPORT, NON INJ/NON BLKG OR AFTER FACT INJ'
 'BURN - RECKLESS BURNING' 'EXPLOSION - IP/JO' 'TRU - THEFT'
 'ASSIST OTHER AGENCY - EMERGENCY SERVICE' 'BOMB THREATS - IP/JO'
 'PARKING VIOLATION (EXCEPT ABANDONED CAR)' 'NARCOTICS WARRANT SERVICE'
 'ARSON - REPORT' 'BIAS -RACIAL, POLITICAL, SEXUAL MOTIVATION'
 'NARCOTICS WARRANT SERVICE - EXECUTED, SECURED' 'PEDESTRIAN VIOLATIONS'
 'AWOL - ADULT OR JUVENILE' 'ASSIST SPD - ROUTINE SERVICE'
 'ALARM - AUDIBLE AUTOMOBILE (UNOCC/ANTI-THEFT)'
 'DIRECTED PATROL ACTIVITY' 'DOWN - CHECK FOR DOWN PERSON' 'LITTERING'
 'ALARM - BANK (HOLD-UP)' 'PROPERTY - FOUND' 'CHILD -  LURING'
 'NARCOTICS - FOUND' 'FOUND - PERSON'
 'AUTO - THEFT/LOSS, PLATES AND/OR TAB' 'SUSPICIOUS PACKAGE'
 'ANIMAL - INJURED, DEAD HAZARD, OTHER'
 'SUICIDE, SUICIDAL PERSON AND ATTEMPTS' 'KNOWN KIDNAPPNG'
 'ESCAPE - PRISONER' 'MISSING - ADULT'
 'PHONE - OBSCENE OR NUISANCE PHONE CALLS'
 'ALARM - ATM MACHINE, FREE STANDING'
 'ALARM - RESIDENTIAL - SILENT/AUD PANIC/DURESS'
 'ORDER  - SERVICE OF DV COURT ORDER' 'DOA - CASUALTY, DEAD BODY'
 'GAMBLING' 'SLEEPER ABOARD BUS/COMMUTER TRAIN'
 'INJURED - IP/JO - PERSON/INDUSTRIAL ACCIDENT' 'ANIMAL - IP/JO - BITE'
 'PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS)'
 'UNKNOWN - ANI/ALI - PAY PHNS (INCL OPEN LINE)'
 'MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)'
 'INJURED -  PERSON/INDUSTRIAL ACCIDENT'
 'ALARM - COMM, HOLD-UP/PANIC (EXCEPT BANKS)'
 'HAZ - IMMINENT THRT TO PHYS SAFETY (NO HAZ MAT)'
 'ASSIST SPD - URGENT SERVICE' 'ANIMAL, REPORT - BITE' 'REQUEST TO WATCH'
 'VICE - PORNOGRAPHY']


Values for Final_Call_Type:
['-' '--SEX OFFENSES (NON-RAPE) - LEWD CONDUCT' '--PROWLER - TRESPASS'
 '--WEAPON, PERSON WITH - GUN' '--DV - ARGUMENTS, DISTURBANCE (NO ARREST)'
 '--NARCOTICS - OTHER' '--TRAFFIC - MV COLLISION INVESTIGATION'
 '--THEFT - CAR PROWL' '--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON'
 '--THEFT - SHOPLIFT' '--THEFT - AUTO ACCESSORIES'
 '--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY)' '--DISTURBANCE - OTHER'
 '--SUSPICIOUS CIRCUM. - SUSPICIOUS VEHICLE' '--PROPERTY DEST (DAMG)'
 '--KIDNAP - GENERAL' '--AUTOMOBILES - RECOVERY (THEFT)'
 '--WARRANT SERVICES - FELONY' '--ASSAULTS - HARASSMENT, THREATS'
 '--ASSAULTS, OTHER' '--WEAPON,PERSON WITH - OTHER WEAPON'
 '--ROBBERY - STRONG ARM' '--THEFT - ALL OTHER'
 '--WARRANT SERVICES - MISDEMEANOR' '--ROBBERY - ARMED'
 '--CRISIS COMPLAINT - GENERAL' '--DISTURBANCE - FIGHT'
 'NUISANCE - MISCHIEF' '--SUSPICIOUS CIRCUM. - BUILDING (OPEN DOOR, ETC)'
 '--TRAFFIC - MOVING VIOLATION'
 '--ALARM-COMM (INC BANK, ATM, SCHOOLS, BSN)'
 '--BURGLARY - RESIDENTIAL OCCUPIED'
 '--AUTOMOBILES - AUTO THEFT & RECOVERY'
 '--BURGLARY - NON RESIDENTIAL/COMMERCIAL'
 'ROBBERY - IP/JO (INCLUDES STRONG ARM)'
 'SUSPICIOUS PERSON, VEHICLE OR INCIDENT' 'TRESPASS' '--THEFT - BICYCLE'
 '--PERSON - RUNAWAY' '--PROWLER - GENERAL'
 '--NARCOTICS - MARIJUANA PUBLIC USE(NOT DISPENSARY)'
 '--ARSON, BOMBS, EXPLO - RECKLESS BURNING'
 '--DV - ENFORCE COURT ORDER (ARREST MANDATED)'
 '--AUTOMOBILES - AUTO THEFT' '--BURGLARY - RESIDENTIAL, UNOCCUPIED'
 '--DRIVE BY SHOOTING - NO INJURIES'
 '--ANIMAL COMPLAINT - NOISE,STRAY,BITE'
 '--ASSIST OTHER AGENCY - COUNTY AGENCY' '--NARCOTICS - NARS REPORT'
 '--TRAFFIC - D.U.I.' '-ASSIGNED DUTY - STAKEOUT'
 '--ASSAULTS - FIREARM INVOLVED'
 '--PROPERTY DEST (DAMG) - GRAFFITI (INCLUDES GANG)'
 '--VICE - PROSTITUTION' 'PROPERTY - DAMAGE'
 '--FRAUD - FRAUD, INCLUDING BUNCO' '--DV - ASSIST VICTIM BY COURT ORDER'
 'DISTURBANCE, MISCELLANEOUS/OTHER' '--TRAFFIC - REFUSE TO STOP (PURSUIT)'
 '--BURGLARY - UNOCC STRUC ON RESN PROP'
 'PERSON IN BEHAVIORAL/EMOTIONAL CRISIS'
 '--NARCOTICS - DRUG TRAFFIC LOITERING'
 'FIGHT - JO - PHYSICAL (NO WEAPONS)'
 '--PROWLER - TRESPASS, PARKS EXCLUSION'
 'THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING)'
 '--MISCHIEF OR NUISANCE - GENERAL' '--DISTURBANCE - NOISE'
 '--NARCOTICS - NARCOTICS WARRANT SERVICE'
 '--INTOX & LIQ VIOLS - ADULTS (VIOLATIONS)'
 '--PREMISE CHECKS - CRIME PREVENTION'
 '--ASSIST OTHER AGENCY - CITY AGENCY' '--FRAUD - FORGERY, BAD CHECKS'
 '--DV - DOMESTIC VIOLENCE (ARREST DISCRETIONARY)'
 '--ASSIST OTHER AGENCY - STATE AGENCY' '--DISTURBANCE - JUVENILE'
 '--PERSON - FOUND PERSON' 'SUSPICIOUS STOP - OFFICER INITIATED ONVIEW'
 '--INTOX & LIQ VIOLS - MINORS (VIOLATIONS)' '--PERSON - MISSING PERSON'
 '--ASSIST PUBLIC - OTHER (NON-SPECIFIED)'
 '--MISC MISD AND VIOLS - RECKLESS ENDANGERMENT'
 '--RAPE - KNOWN SUSPECT (ACQUAINTANCE)'
 '--CASUALTY NON-TRAF NON-CRIM - DRUG RELATED (OD)'
 '--CHILD - CHILD ENDANGERMENT'
 '--NARCOTICS - FOUND , RECOVERED NARCOTICS'
 '--HARBOR - ASSIST BOATER (NON EMERG)' '-PRISONER ESCORT - BUSY CODE'
 'PURSE SNATCH - IP/JO - ROBBERY' 'WARRANT - FELONY PICKUP'
 'BURG - COMM BURGLARY (INCLUDES SCHOOLS)'
 'SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT'
 '--RAPE - UNKNOWN SUSPECT (STRANGER)'
 '--ARSON,BOMBS,EXPLO - BOMBS, EXPLO,LARGE FIREWORKS'
 'BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS)' '--HOMICIDE'
 '--TRAFFIC - PEDESTRIAN VIOLATION'
 'HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT)'
 '--COMMERCIAL SEXUAL EXPLOITATION OF MINORS (CSEC)'
 '-ASSIGNED DUTY - COMMUNITY,SCHOOL,SPECIAL EVENT'
 '--DV - STANDBY TO ASSURE PEACE' '--DISTURBANCE - NOISE RESIDENTIAL'
 '--SEX OFFENSES (RAPE) - MOLESTING' '--TRAFFIC - ASSIST MOTORIST'
 '--MISC MISD AND VIOLS - PARKS EXCLUSION'
 'WEAPN - GUN,DEADLY WPN (NO THRTS/ASLT/DIST)'
 '--DV - DOMESTIC THREATS BY PHONE OR WRITING'
 '--ARSON, BOMBS, EXPLO - ARSON'
 'ASLT - WITH OR W/O WEAPONS (NO SHOOTINGS)'
 '--CHILD - ABANDONED, ABUSED AND NEGLECTED' '--HAZARDS - HAZARDS'
 'ASLT - DV' '--TRAFFIC - BLOCKING TRAFFIC' '--PROPERTY - FOUND PROPERTY'
 'FIGHT - IP - PHYSICAL (NO WEAPONS)'
 'THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS)'
 '--TRAFFIC - PARKING VIOL (EXCEPT ABANDONED CAR)' 'SHOPLIFT - THEFT'
 '--INTOX & LIQ VIOLS - INTOXICATED PERSON'
 'ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)'
 '--AUTOMOBILES - LICENSE PLATE(S) THEFT OR LOSS'
 'UNKNOWN - COMPLAINT OF UNKNOWN NATURE' '--ASSAULTS - GANG RELATED'
 'NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)'
 '--HARBOR - BOAT ACCIDENT' 'WARRANT - MISD WARRANT PICKUP'
 '--ALARM-RESIDENTIAL BURG' 'BURG - IP/JO - RES (INCL UNOCC STRUCTURES)'
 'BURG - RES (INCL UNOCC STRUCTURES ON PROP)'
 'FIGHT - IP/JO - WITH WEAPONS' 'MVC - NON INJURY, BLOCKING' 'FOLLOW UP'
 'ASLT - IP/JO - DV' '--DV - SERVICE OF COURT ORDER'
 'FIREWORKS - NUISANCE (NO HAZARD)' '--TRAFFIC - BICYCLE VIOLATION'
 'SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT'
 'PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY' 'AUTO RECOVERY'
 'ASLT - IP/JO - PERSON SHOT OR SHOT AT' 'HOSPITAL GUARD ASSIGNMENT'
 '--CROWD MGMNT (STAND BY ONLY)'
 'HARAS - NO BIAS, THREATS OR MALICIOUSNESS'
 '--ALARM-COMM ROBB (BANK, PANIC, DURESS)'
 'MVC - WITH INJURIES (INCLUDES HIT AND RUN)' 'BOMB - THREATS'
 '--VICE - OTHER' '--ASSIST OTHER AGENCY - FEDERAL AGENCY'
 '--SEX OFFENSES (NON-RAPE) - FAILURE TO REGISTER'
 '--ALARM-OTHER (VARDA,PDT,FIRE,LOCAL,METRO,ETC))'
 '--ANIMAL COMPLAINT - INJURED,DEAD,DANGEROUS' 'THEFT OF SERVICES'
 '--CASUALTY,NON-TRAF,NON-CRIM - NON-DRUG RELATED'
 'LIQUOR VIOLATIONS - ADULT'
 'WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)'
 'SERVICE - WELFARE CHECK' '--ASSAULTS - TELEPHONE, WRITING'
 '--CRISIS COMPLAINT - PICK-UP OR TRANSPORT'
 'ORDER - VIOLATION OF COURT ORDER (NON DV)'
 'ROBBERY (INCLUDES STRONG ARM)' 'ASSIST OTHER AGENCY - EMERGENCY SERVICE'
 '-OFF DUTY EMPLOYMENT' 'DIST - IP/JO - DV DIST - NO ASLT'
 '--ALARM-RESIDENTIAL PANIC OR DURESS'
 'ALARM - COMM, SILENT/AUD BURG (INCL BANKS)'
 'AUTO THEFT - VEH THEFT OR THEFT & RECOVERY' 'ESCAPE - PRISONER'
 '--VICE - GAMBLING' 'TRAFFIC STOP - OFFICER INITIATED ONVIEW'
 '--PREMISE CHECKS - REQUEST TO WATCH'
 'MVC - HIT AND RUN (NON INJURY), INCLUDES IP/JO'
 '--PREMISE CHECKS - BUSINESS CHECK'
 'ASSIST OTHER AGENCY - ROUTINE SERVICE'
 '-ASSIGNED DUTY - FOOT BEAT (FROM ASSIGNED CAR)'
 'BURN - RECKLESS BURNING' 'RAPE' 'NARCOTICS - FOUND'
 '--PREMISE CHECKS - HOMELESS ENCAMPMENT' 'PROPERTY - FOUND'
 'DIST - DV - NO ASLT' '--PROPERTY - MISSING PROPERTY'
 '--ASSIST PUBLIC - 911 HANG UP, OPEN LINE'
 'FIGHT - VERBAL/ORAL (NO WEAPONS)'
 'LEWD -  (EXPOSING, FLASHING, URINATING IN PUB)'
 'UNDERCOVER OPS, CAUTION (INCLUDES STAKEOUTS)'
 'ASSIST PUBLIC - NO WELFARE CHK OR DV ORDER SERVICE'
 'DOWN - CHECK FOR PERSON DOWN'
 'SEX IN PUBLIC PLACE/VIEW (INCL MASTURBATION)'
 '--TRAFFIC - COMMUNITY TRAFFIC COMPLAINT (CTC)'
 'DOWN - CHECK FOR DOWN PERSON'
 'NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)'
 'DUI - DRIVING UNDER INFLUENCE' 'NARCOTICS WARRANT SERVICE'
 'TRAFFIC - MOVING VIOLATION']


Values for Call_Type:
['-' 'ONVIEW' '911' 'TELEPHONE OTHER, NOT 911'
 'ALARM CALL (NOT POLICE ALARM)' 'PROACTIVE (OFFICER INITIATED)'
 'TEXT MESSAGE' 'SCHEDULED EVENT (RECURRING)']


Values for Officer_Squad:
['NORTH PCT 2ND W - L/U RELIEF' 'OPS BUREAU - SPECIAL ASSIGNMENTS'
 'SOUTH PCT 1ST W - ROBERT' 'SOUTH PCT 1ST W - R/S RELIEF'
 'NORTH PCT 1ST W - LINCOLN' 'WEST PCT 1ST W - KQ/DM RELIEF'
 'WEST PCT 3RD W - K/Q RELIEF' 'SOUTHWEST PCT 1ST W - WILLIAM'
 'WEST PCT 2ND W - DAVID BEATS' 'NORTH PCT 3RD W - LINCOLN'
 'WEST PCT 2ND W - MARY BEATS' 'TRAINING - FIELD TRAINING SQUAD'
 'SOUTH PCT 1ST W - SAM' 'WEST PCT 2ND W - SPECIAL BEATS'
 'EAST PCT 3RD W - E/G RELIEF' 'EAST PCT 1ST W - EDWARD (CHARLIE)'
 'SOUTH PCT 3RD W - ROBERT' 'SOUTH PCT 3RD W - SAM'
 'SOUTHWEST PCT 2ND WATCH - F/W RELIEF' 'EAST PCT 2ND W - EDWARD' 'None'
 'SOUTH PCT 2ND W - SAM' 'NORTH PCT 3RD W - JOHN'
 'WEST PCT 2ND W - D/M RELIEF' 'NORTH PCT 1ST W - BOY (JOHN)'
 'SOUTH PCT 3RD W - R/S RELIEF' 'NORTH PCT 2ND W - NORA'
 'NORTH PCT 1ST W - L/U RELIEF' 'NORTH PCT 3RD W - BOY'
 'WEST PCT 2ND W - DAVID' 'NORTH PCT 3RD W - B/N RELIEF'
 'EAST PCT 1ST W - GEORGE (CHARLIE)' 'SOUTH PCT 3RD W - OCEAN RELIEF'
 'SOUTH PCT 2ND W - OCEAN RELIEF' 'SOUTHWEST PCT OPS - NIGHT ACT'
 'SOUTHWEST PCT 1ST W - FRANK' 'EAST PCT 1ST W - E/G RELIEF (CHARLIE)'
 'NORTH PCT 1ST W - UNION' 'NORTH PCT 1ST W - NORA (JOHN)'
 'NARC - PROACTIVE SQUAD C' 'EAST PCT 3RD W - EDWARD'
 'NORTH PCT 2ND WATCH - B/N RELIEF' 'SOUTH PCT 3RD W - OCEAN'
 'NORTH PCT 2ND WATCH - NORTH BEATS' 'SOUTHWEST PCT 2ND W - WILLIAM'
 'MAJOR CRIMES TASK FORCE' 'EAST PCT OPS - NIGHT ACT'
 'NORTH PCT 3RD W - UNION' 'EAST PCT 3RD W - GEORGE'
 'EAST PCT 2ND W - E/G RELIEF' 'NORTH PCT 1ST W - B/N RELIEF (JOHN)'
 'WEST PCT 2ND W - KING' 'WEST PCT 2ND W - MARY' 'WEST PCT 3RD W - KING'
 'WEST PCT 2ND W - QUEEN' 'SOUTH PCT 2ND W - OCEAN'
 'NORTH PCT 2ND W - LINCOLN' 'NORTH PCT 2ND W - UNION'
 'NORTH PCT OPS - ACT DAY' 'EAST PCT 2ND W - GEORGE'
 'SOUTHWEST PCT - 3RD WATCH - F/W RELIEF' 'NORTH PCT 2ND W - JOHN'
 'EAST PCT 3RD WATCH - CHARLIE RELIEF' 'SOUTH PCT 2ND W - ROBERT'
 'GANG SQUAD B' 'SOUTHWEST PCT - 1ST WATCH - F/W RELIEF'
 'EAST PCT 3RD W - CHARLIE' 'EAST PCT 2ND W - CHARLIE'
 'TRAINING - LEARNING MANAGEMENT SYSTEM' 'WEST PCT 1ST W - KING/QUEEN'
 'WEST PCT OPS - CPT' 'SOUTH PCT OPS - DAY ACT' 'SOUTH PCT OPS - CPT'
 'NORTH PCT 2ND W - BOY' 'CANINE - NIGHT SQUAD' 'SAU SQUAD A'
 'NORTH PCT 3RD W - L/U RELIEF' 'SOUTH PCT 2ND W - R/S RELIEF'
 'NORTH PCT 3RD W - NORA' 'NORTH PCT OPS - CPT'
 'WEST PCT 2ND W - K/Q RELIEF' 'SOUTHWEST PCT 3RD W - FRANK'
 'WEST PCT 1ST W - DAVID/MARY' 'SOUTH PCT 1ST W - OCEAN'
 'EAST PCT 2ND W - BEATS' 'SOUTHWEST PCT 3RD W - WILLIAM'
 'CANINE - SQUAD C' 'WEST PCT 3RD W - D/M RELIEF' 'WEST PCT 3RD W - DAVID'
 'TRAF - DUI SQUAD' 'ROBBERY SQUAD B' 'SWAT - DAY SQUAD 2'
 'NORTH PCT 3RD W - JOHN RELIEF' 'EAST PCT 2ND W - CHARLIE RELIEF'
 'WEST PCT 3RD W - DAVID BEATS' 'WEST PCT 2ND W - KING BEATS'
 'GANG SQUAD C' 'WEST PCT 3RD W - QUEEN' 'SOUTHWEST PCT 2ND W - FRANK'
 'COMM - INTERNET AND TELEPHONE REPORTING (ITRU)'
 'WEST PCT OPS - ACT NIGHT' 'WEST PCT 3RD W - MARY'
 'NORTH PCT 2ND W - JOHN RELIEF' 'EAST PCT OPS - CPT'
 'SOUTH PCT OPS - NIGHT ACT' 'WEST PCT OPS - SEA CTR' 'SWAT - DAY SQUAD 1'
 'HARBOR - SQUAD A' 'SOUTH PCT 2ND W - SAM BEATS'
 'SOUTHWEST PCT 2ND W - SOUTHWEST BEATS' 'EAST PCT 3RD W - EAST BEATS'
 'SOUTH PCT OPS - BURG/THEFT' 'SOUTHWEST PCT OPS - CPT' 'GANG SQUAD A'
 'DV SQUAD A - INVESTIGATIONS' 'CRISIS RESPONSE SQUAD'
 'HR - HUMAN RESOURCES  - DEPT UNAVAIL PERSONNEL' 'BURG/THEFT/JUV - WEST'
 'TRAF - AM ENFORCEMENT' 'BURG/THEFT/JUV - NORTH' 'AUTO THEFT'
 'CRISIS INTERVENTION COORDINATION SQUAD' 'BURG/THEFT/JUV - EAST'
 'WEST PCT OPS - MOUNTED PATROL' 'PAWN DETAIL' 'JOINT ENFORCEMENT TEAM'
 'HR - DEPARTMENT UNAVAILABLE PERSONNEL' 'SWAT - NIGHT SQUAD 1'
 'NORTH PCT OPS - BURG/THEFT' 'WEST PCT OPS - BURG/THEFT'
 'PUBLIC AFFAIRS SQUAD' 'TRAF - PM ENFORCEMENT' 'CANINE - DAY SQUAD'
 'BURG/THEFT/JUV - SOUTH' 'JOINT ENFORCEMENT TEAM (JET)'
 'EAST PCT OPS - BURG/THEFT' 'COMMUNITY OUTREACH UNIT' 'CANINE - SQUAD A'
 'DV SQUAD C - ELDER ABUSE' 'NAVIGATION TEAM - SQUAD A' 'HARBOR - SQUAD D'
 'RECORDS - DAY SHIFT' 'TRAF - COLLISION INVESTIGATION'
 'TRAF - MOTORCYCLE UNIT - T2 SQUAD' 'TRAF - MOTORCYCLE UNIT - T4 SQUAD'
 'COMMUNITY OUTREACH - YOUTH VIOLENCE-SCHOOLS DETAIL'
 'NAVIGATION TEAM - SQUAD B' 'Unknown' 'SWAT - NIGHT SQUAD 2'
 'COMMUNITY OUTREACH - YOUTH VIOLENCE -SCHOOLS DETAIL'
 'COMMUNITY OUTREACH - SPECIAL PROJECTS DETAIL' 'ROBBERY SQUAD A'
 'SOUTHWEST PCT OPS - DAY ACT' 'SOUTHWEST PCT OPS - BURG/THEFT'
 'HR - BLEA - ACADEMY RECRUITS' 'TRAINING - ADVANCED - SQUAD C'
 'NORTH PCT 2ND W - PCT SUPPORT' 'VICE - GENERAL INVESTIGATIONS SQUAD'
 'ZOLD CRIME ANALYSIS UNIT - ANALYSTS']


Values for Arrest_Flag:
['N' 'Y']


Values for Frisk_Flag:
['N' 'Y' '-']


Values for Precinct:
['North' 'East' 'South' 'SouthWest' 'West' 'OTHER']


Values for Sector:
['L' 'G' 'O' 'N' 'F' 'W' 'E' 'C' 'K' 'U' 'M' 'S' 'R' 'J' 'D' 'B' 'Q'
 'None']


Values for Beat:
['L3' 'G3' 'O2' 'G2' 'N2' 'F1' 'F3' 'W3' 'E2' 'C3' 'K2' 'L2' 'N3' 'U1'
 'M3' 'K1' 'S1' 'S3' 'F2' 'U2' 'U3' 'C2' 'E1' 'L1' 'O3' 'R1' 'J2' 'D1'
 'B3' 'Q3' 'S2' 'J3' 'K3' 'R3' 'C1' 'W1' 'E3' 'R2' 'W2' 'M1' 'B2' 'O1'
 'D3' 'B1' 'D2' 'M2' 'Q1' 'N1' 'J1' 'Q2' 'G1' '99' '-' 'OOJ' 'S']


Values for Arrested:
[1. 0.]


Values for Weapon_Found:
[0. 1.]

In [98]:
for col in terry_merged_list:
    print('Values for {}:\n{}\n\n'.format(col, terry_merged[col].value_counts()))

Values for Subject_Age_Group:
26 - 35         13535
36 - 45          8486
18 - 25          8474
46 - 55          5235
56 and Above     1973
1 - 17           1873
Name: Subject_Age_Group, dtype: int64


Values for Subject_ID:
-1              34635
 7726859935        10
 7753260438         8
 7726342469         6
 7727827572         6
                ...
 9657273469         1
 7729089669         1
 7726144647         1
 7726443665         1
 11716939786        1
Name: Subject_ID, Length: 5276, dtype: int64


Values for GO_/_SC_Num:
20160000378750    16
20150000190790    16
20180000134604    14
20170000132836    13
20180000002716    12
                  ..
20190000048136     1
20160000210946     1
20190000418823     1
20160000004103     1
20180000071981     1
Name: GO_/_SC_Num, Length: 31696, dtype: int64


Values for Terry_Stop_ID:
551950    1
144684    1
69541     1
295909    1
322871    1
         ..
533169    1
171013    1
516777    1
86813     1
65536     1
Name: Terry_Stop_ID, Length: 40857, dtype: int64


Values for Stop_Resolution:
Field Contact               16126
Offense Report              13940
Arrest                       9907
Referred for Prosecution      728
Citation / Infraction         156
Name: Stop_Resolution, dtype: int64


Values for Weapon_Type:
None                   38567
Stabbing Instrument     1769
Firearm                  414
Other                    107
Name: Weapon_Type, dtype: int64


Values for Officer_ID:
7456      309
7634      276
7773      248
7758      234
7765      215
         ...
6782        1
7470        1
5913        1
6051        1
5932        1
Name: Officer_ID, Length: 2035, dtype: int64


Values for Officer_YOB:
1986    2910
1987    2580
1984    2549
1991    2336
1985    2326
1992    2025
1990    1870
1988    1822
1989    1730
1982    1726
1983    1585
1979    1350
1981    1267
1971    1177
1993    1087
1978    1042
1977     933
1976     900
1973     853
1980     753
1995     741
1967     683
1968     579
1994     577
1970     543
1974     521
1969     511
1975     473
1962     446
1965     401
1972     392
1964     390
1996     236
1963     227
1958     218
1966     215
1961     200
1959     174
1997     165
1960     154
1954      43
1957      41
1953      32
1955      21
1956      16
1948      11
1900       9
1952       9
1949       5
1946       2
1951       1
Name: Officer_YOB, dtype: int64


Values for Officer_Gender:
M    36300
F     4557
Name: Officer_Gender, dtype: int64


Values for Officer_Race:
White                            31606
Hispanic or Latino                2247
Two or More Races                 2140
Black or African American         1667
Asian                             1550
Nat Hawaiian/Oth Pac Islander      418
American Indian/Alaska Native      309
Name: Officer_Race, dtype: int64


Values for Subject_Perceived_Race:
White                                        20056
Black or African American                    12187
Hispanic                                      1684
Asian                                         1265
American Indian or Alaska Native              1221
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       25
Name: Subject_Perceived_Race, dtype: int64


Values for Subject_Perceived_Gender:
Male                                                         32424
Female                                                        8432
Gender Diverse (gender non-conforming and/or transgender)        1
Name: Subject_Perceived_Gender, dtype: int64


Values for Reported_Date:
2015-10-01T00:00:00    101
2015-09-29T00:00:00     66
2015-05-28T00:00:00     57
2015-07-18T00:00:00     55
2019-04-26T00:00:00     54
                      ...
2015-05-13T00:00:00      1
2015-03-28T00:00:00      1
2015-05-10T00:00:00      1
2015-04-14T00:00:00      1
2015-03-31T00:00:00      1
Name: Reported_Date, Length: 1851, dtype: int64


Values for Reported_Time:
19:18:00    51
03:13:00    50
02:56:00    50
03:09:00    50
18:51:00    49
            ..
14:51:18     1
00:09:52     1
18:43:16     1
03:22:24     1
02:26:49     1
Name: Reported_Time, Length: 7432, dtype: int64


Values for Initial_Call_Type:
-                                                 12734
SUSPICIOUS PERSON, VEHICLE OR INCIDENT             2470
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW         2432
DISTURBANCE, MISCELLANEOUS/OTHER                   2111
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)     1702
                                                  ...
KNOWN KIDNAPPNG                                       1
ANIMAL, REPORT - BITE                                 1
MISSING - ADULT                                       1
-ASSIGNED DUTY - STAKEOUT                             1
REQUEST TO WATCH                                      1
Name: Initial_Call_Type, Length: 161, dtype: int64


Values for Final_Call_Type:
-                                                    12734
--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON              2954
--PROWLER - TRESPASS                                  2627
--DISTURBANCE - OTHER                                 2304
--ASSAULTS, OTHER                                     1960
                                                     ...
ORDER - VIOLATION OF COURT ORDER (NON DV)                1
LEWD -  (EXPOSING, FLASHING, URINATING IN PUB)           1
RAPE                                                     1
--COMMERCIAL SEXUAL EXPLOITATION OF MINORS (CSEC)        1
SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT                   1
Name: Final_Call_Type, Length: 193, dtype: int64


Values for Call_Type:
911                              17725
-                                12734
ONVIEW                            7356
TELEPHONE OTHER, NOT 911          2814
ALARM CALL (NOT POLICE ALARM)      223
TEXT MESSAGE                         2
PROACTIVE (OFFICER INITIATED)        2
SCHEDULED EVENT (RECURRING)          1
Name: Call_Type, dtype: int64


Values for Officer_Squad:
TRAINING - FIELD TRAINING SQUAD                        4288
WEST PCT 1ST W - DAVID/MARY                            1269
NORTH PCT 2ND WATCH - NORTH BEATS                       879
WEST PCT 2ND W - D/M RELIEF                             865
SOUTHWEST PCT 2ND W - FRANK                             832
                                                       ...
CANINE - DAY SQUAD                                        1
HR - BLEA - ACADEMY RECRUITS                              1
COMM - INTERNET AND TELEPHONE REPORTING (ITRU)            1
COMMUNITY OUTREACH - YOUTH VIOLENCE -SCHOOLS DETAIL       1
ROBBERY SQUAD B                                           1
Name: Officer_Squad, Length: 159, dtype: int64


Values for Arrest_Flag:
N    39158
Y     1699
Name: Arrest_Flag, dtype: int64


Values for Frisk_Flag:
N    31413
Y     8966
-      478
Name: Frisk_Flag, dtype: int64


Values for Precinct:
West         11647
North        11430
East          6596
South         6119
SouthWest     3834
OTHER         1231
Name: Precinct, dtype: int64


Values for Sector:
None    9694
E       2919
M       2805
K       2677
N       2556
D       2022
B       1889
L       1821
R       1751
F       1701
S       1624
U       1518
O       1490
J       1342
Q       1328
G       1327
C       1236
W       1157
Name: Sector, dtype: int64


Values for Beat:
-      9607
N3     1350
E2     1308
K3     1272
M3     1054
M2      980
E1      928
N2      857
D1      819
K2      804
R2      802
M1      771
F2      737
U2      731
B1      730
D2      694
E3      683
B2      677
S2      652
O1      652
Q3      632
L1      622
L3      605
K1      601
L2      594
S3      556
F3      528
R1      518
G2      509
D3      509
J1      505
J3      491
U1      487
W2      483
B3      483
C1      468
G3      464
C3      441
F1      436
R3      431
O3      425
S1      416
Q2      415
O2      413
W1      388
G1      353
N1      349
J2      346
C2      327
U3      300
W3      286
Q1      281
99       68
OOJ      17
S         2
Name: Beat, dtype: int64


Values for Arrested:
0.0    30950
1.0     9907
Name: Arrested, dtype: int64


Values for Weapon_Found:
0.0    38567
1.0     2290
Name: Weapon_Found, dtype: int64

In [99]:
from sklearn.preprocessing import OrdinalEncoder

In [100]:
terry_prac = terry_merged.copy()

In [101]:
terry_prac.isna().sum()

Subject_Age_Group           1281
Subject_ID                     0
GO_/_SC_Num                    0
Terry_Stop_ID                  0
Stop_Resolution                0
Weapon_Type                    0
Officer_ID                     0
Officer_YOB                    0
Officer_Gender                 0
Officer_Race                 920
Subject_Perceived_Race      3458
Subject_Perceived_Gender       0
Reported_Date                  0
Reported_Time                  0
Initial_Call_Type              0
Final_Call_Type                0
Call_Type                      0
Officer_Squad                  0
Arrest_Flag                    0
Frisk_Flag                     0
Precinct                       0
Sector                         0
Beat                           0
Arrested                       0
Weapon_Found                   0
dtype: int64

In [102]:
Now that we have

SyntaxError: invalid syntax (<ipython-input-102-baf88e0d48bb>, line 1)

In [103]:
terry_prac = terry[['Subject_Age_Group','Officer_Race','Subject_Perceived_Race']]

In [104]:
terry_prac.head()

  Subject_Age_Group               Officer_Race Subject_Perceived_Race
0           18 - 25                      White                  White
1               NaN                      White                    NaN
2               NaN                      Asian                    NaN
3               NaN  Black or African American                  Asian
4               NaN                      White                    NaN

In [105]:
terry_prac_list = list(terry_prac.columns)

In [106]:
for col in terry_prac_list:
    print('Values for {}:\n{}\n\n'.format(col, terry_prac[col].unique()))

Values for Subject_Age_Group:
['18 - 25' nan '1 - 17' '26 - 35' '36 - 45' '46 - 55' '56 and Above']


Values for Officer_Race:
['White' 'Asian' 'Black or African American' 'Hispanic or Latino'
 'American Indian/Alaska Native' 'Two or More Races'
 'Nat Hawaiian/Oth Pac Islander' nan]


Values for Subject_Perceived_Race:
['White' nan 'Asian' 'American Indian or Alaska Native'
 'Black or African American' 'Other' 'Hispanic' 'Multi-Racial'
 'Native Hawaiian or Other Pacific Islander']

In [107]:
for col in terry_prac_list:
    print('Values for {}:\n{}\n\n'.format(col, terry_prac[col].value_counts()))

Values for Subject_Age_Group:
26 - 35         13535
36 - 45          8486
18 - 25          8474
46 - 55          5235
56 and Above     1973
1 - 17           1873
Name: Subject_Age_Group, dtype: int64


Values for Officer_Race:
White                            31606
Hispanic or Latino                2247
Two or More Races                 2140
Black or African American         1667
Asian                             1550
Nat Hawaiian/Oth Pac Islander      418
American Indian/Alaska Native      309
Name: Officer_Race, dtype: int64


Values for Subject_Perceived_Race:
White                                        20056
Black or African American                    12187
Hispanic                                      1684
Asian                                         1265
American Indian or Alaska Native              1221
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       25
Name: Subject_Perceived_Race, dtype: int64

In [108]:
# Create an empty dictionary ordinal_enc_dict
ordinal_enc_dict = {}

for col_name in terry_prac:
    # Create Ordinal encoder for col
    ordinal_enc_dict[col_name] = OrdinalEncoder()
    col = terry_prac[col_name]
    
    # Select non-null values of col
    col_not_null = col[col.notnull()]
    reshaped_vals = col_not_null.values.reshape(-1, 1)
    encoded_vals = ordinal_enc_dict[col_name].fit_transform(reshaped_vals)
    
    # Store the values to non-null values of the column in users
    terry_prac.loc[col.notnull(), col_name] = np.squeeze(encoded_vals)

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [109]:
terry_prac.head()

  Subject_Age_Group Officer_Race Subject_Perceived_Race
0                 1            6                      7
1               NaN            6                    NaN
2               NaN            1                    NaN
3               NaN            2                      1
4               NaN            6                    NaN

In [110]:
from sklearn.impute import KNNImputer
from fancyimpute import KNN

Using TensorFlow backend.

In [111]:
# Create KNN imputer
KNN_imputer = KNN()

# Impute and round the users DataFrame
terry_prac.iloc[:, :] = np.round(KNN_imputer.fit_transform(terry_prac))

# Loop over the column names in users
for col_name in terry_prac:
    
    # Reshape the data
    reshaped = terry_prac[col_name].values.reshape(-1, 1)
    
    # Perform inverse transform of the ordinally encoded columns
    terry_prac[col_name] = ordinal_enc_dict[col_name].inverse_transform(reshaped)

Imputing row 1/40857 with 0 missing, elapsed time: 873.662
Imputing row 101/40857 with 2 missing, elapsed time: 875.511
Imputing row 201/40857 with 2 missing, elapsed time: 875.717
Imputing row 301/40857 with 1 missing, elapsed time: 875.958
Imputing row 401/40857 with 2 missing, elapsed time: 876.187
Imputing row 501/40857 with 1 missing, elapsed time: 876.435
Imputing row 601/40857 with 1 missing, elapsed time: 876.676
Imputing row 701/40857 with 2 missing, elapsed time: 876.885
Imputing row 801/40857 with 1 missing, elapsed time: 877.160
Imputing row 901/40857 with 2 missing, elapsed time: 877.363
Imputing row 1001/40857 with 2 missing, elapsed time: 877.605
Imputing row 1101/40857 with 1 missing, elapsed time: 877.809
Imputing row 1201/40857 with 1 missing, elapsed time: 878.031
Imputing row 1301/40857 with 0 missing, elapsed time: 878.188
Imputing row 1401/40857 with 0 missing, elapsed time: 878.260
Imputing row 1501/40857 with 0 missing, elapsed time: 878.302
Imputing row 1601/40857 with 0 missing, elapsed time: 878.500
Imputing row 1701/40857 with 0 missing, elapsed time: 878.609
Imputing row 1801/40857 with 0 missing, elapsed time: 878.639
Imputing row 1901/40857 with 0 missing, elapsed time: 878.670
Imputing row 2001/40857 with 0 missing, elapsed time: 878.686
Imputing row 2101/40857 with 0 missing, elapsed time: 878.700
Imputing row 2201/40857 with 0 missing, elapsed time: 878.741
Imputing row 2301/40857 with 0 missing, elapsed time: 878.794
Imputing row 2401/40857 with 0 missing, elapsed time: 878.810
Imputing row 2501/40857 with 0 missing, elapsed time: 878.831
Imputing row 2601/40857 with 0 missing, elapsed time: 878.870
Imputing row 2701/40857 with 0 missing, elapsed time: 878.893
Imputing row 2801/40857 with 0 missing, elapsed time: 878.944
Imputing row 2901/40857 with 0 missing, elapsed time: 879.017
Imputing row 3001/40857 with 0 missing, elapsed time: 879.091
Imputing row 3101/40857 with 0 missing, elapsed time: 879.161
Imputing row 3201/40857 with 0 missing, elapsed time: 879.200
Imputing row 3301/40857 with 0 missing, elapsed time: 879.220
Imputing row 3401/40857 with 0 missing, elapsed time: 879.274
Imputing row 3501/40857 with 0 missing, elapsed time: 879.321
Imputing row 3601/40857 with 0 missing, elapsed time: 879.352
Imputing row 3701/40857 with 0 missing, elapsed time: 879.398
Imputing row 3801/40857 with 0 missing, elapsed time: 879.437
Imputing row 3901/40857 with 0 missing, elapsed time: 879.502
Imputing row 4001/40857 with 0 missing, elapsed time: 879.554
Imputing row 4101/40857 with 0 missing, elapsed time: 879.598
Imputing row 4201/40857 with 0 missing, elapsed time: 879.631
Imputing row 4301/40857 with 0 missing, elapsed time: 879.671
Imputing row 4401/40857 with 0 missing, elapsed time: 879.713
Imputing row 4501/40857 with 0 missing, elapsed time: 879.753
Imputing row 4601/40857 with 0 missing, elapsed time: 879.764
Imputing row 4701/40857 with 0 missing, elapsed time: 879.781
Imputing row 4801/40857 with 0 missing, elapsed time: 879.801
Imputing row 4901/40857 with 0 missing, elapsed time: 879.838
Imputing row 5001/40857 with 0 missing, elapsed time: 879.864
Imputing row 5101/40857 with 0 missing, elapsed time: 879.929
Imputing row 5201/40857 with 0 missing, elapsed time: 879.998
Imputing row 5301/40857 with 0 missing, elapsed time: 880.043
Imputing row 5401/40857 with 0 missing, elapsed time: 880.208
Imputing row 5501/40857 with 0 missing, elapsed time: 880.263
Imputing row 5601/40857 with 0 missing, elapsed time: 880.352
Imputing row 5701/40857 with 1 missing, elapsed time: 880.396
Imputing row 5801/40857 with 0 missing, elapsed time: 880.402
Imputing row 5901/40857 with 0 missing, elapsed time: 880.427
Imputing row 6001/40857 with 1 missing, elapsed time: 880.444
Imputing row 6101/40857 with 0 missing, elapsed time: 880.467
Imputing row 6201/40857 with 0 missing, elapsed time: 880.513
Imputing row 6301/40857 with 0 missing, elapsed time: 880.547
Imputing row 6401/40857 with 0 missing, elapsed time: 880.563
Imputing row 6501/40857 with 0 missing, elapsed time: 880.595
Imputing row 6601/40857 with 0 missing, elapsed time: 880.638
Imputing row 6701/40857 with 0 missing, elapsed time: 880.663
Imputing row 6801/40857 with 0 missing, elapsed time: 880.690
Imputing row 6901/40857 with 0 missing, elapsed time: 880.734
Imputing row 7001/40857 with 0 missing, elapsed time: 880.742
Imputing row 7101/40857 with 0 missing, elapsed time: 880.756
Imputing row 7201/40857 with 0 missing, elapsed time: 880.780
Imputing row 7301/40857 with 0 missing, elapsed time: 880.803
Imputing row 7401/40857 with 0 missing, elapsed time: 880.836
Imputing row 7501/40857 with 0 missing, elapsed time: 880.917
Imputing row 7601/40857 with 0 missing, elapsed time: 880.953
Imputing row 7701/40857 with 0 missing, elapsed time: 880.994
Imputing row 7801/40857 with 0 missing, elapsed time: 881.039
Imputing row 7901/40857 with 0 missing, elapsed time: 881.065
Imputing row 8001/40857 with 1 missing, elapsed time: 881.123
Imputing row 8101/40857 with 0 missing, elapsed time: 881.190
Imputing row 8201/40857 with 0 missing, elapsed time: 881.219
Imputing row 8301/40857 with 0 missing, elapsed time: 881.272
Imputing row 8401/40857 with 0 missing, elapsed time: 881.303
Imputing row 8501/40857 with 0 missing, elapsed time: 881.322
Imputing row 8601/40857 with 0 missing, elapsed time: 881.337
Imputing row 8701/40857 with 0 missing, elapsed time: 881.359
Imputing row 8801/40857 with 0 missing, elapsed time: 881.385
Imputing row 8901/40857 with 0 missing, elapsed time: 881.413
Imputing row 9001/40857 with 0 missing, elapsed time: 881.462
Imputing row 9101/40857 with 0 missing, elapsed time: 881.492
Imputing row 9201/40857 with 0 missing, elapsed time: 881.528
Imputing row 9301/40857 with 0 missing, elapsed time: 881.620
Imputing row 9401/40857 with 0 missing, elapsed time: 881.653
Imputing row 9501/40857 with 0 missing, elapsed time: 881.699
Imputing row 9601/40857 with 0 missing, elapsed time: 881.749
Imputing row 9701/40857 with 0 missing, elapsed time: 881.810
Imputing row 9801/40857 with 0 missing, elapsed time: 881.877
Imputing row 9901/40857 with 0 missing, elapsed time: 881.908
Imputing row 10001/40857 with 0 missing, elapsed time: 881.955
Imputing row 10101/40857 with 0 missing, elapsed time: 881.980
Imputing row 10201/40857 with 0 missing, elapsed time: 882.008
Imputing row 10301/40857 with 0 missing, elapsed time: 882.039
Imputing row 10401/40857 with 0 missing, elapsed time: 882.066
Imputing row 10501/40857 with 0 missing, elapsed time: 882.085
Imputing row 10601/40857 with 1 missing, elapsed time: 882.102
Imputing row 10701/40857 with 0 missing, elapsed time: 882.197
Imputing row 10801/40857 with 0 missing, elapsed time: 882.370
Imputing row 10901/40857 with 0 missing, elapsed time: 882.525
Imputing row 11001/40857 with 1 missing, elapsed time: 882.693
Imputing row 11101/40857 with 0 missing, elapsed time: 882.909
Imputing row 11201/40857 with 1 missing, elapsed time: 882.967
Imputing row 11301/40857 with 0 missing, elapsed time: 883.033
Imputing row 11401/40857 with 1 missing, elapsed time: 883.108
Imputing row 11501/40857 with 0 missing, elapsed time: 883.155
Imputing row 11601/40857 with 1 missing, elapsed time: 883.204
Imputing row 11701/40857 with 2 missing, elapsed time: 883.266
Imputing row 11801/40857 with 0 missing, elapsed time: 883.288
Imputing row 11901/40857 with 0 missing, elapsed time: 883.328
Imputing row 12001/40857 with 0 missing, elapsed time: 883.347
Imputing row 12101/40857 with 0 missing, elapsed time: 883.367
Imputing row 12201/40857 with 1 missing, elapsed time: 883.433
Imputing row 12301/40857 with 0 missing, elapsed time: 883.503
Imputing row 12401/40857 with 0 missing, elapsed time: 883.561
Imputing row 12501/40857 with 0 missing, elapsed time: 883.621
Imputing row 12601/40857 with 0 missing, elapsed time: 883.650
Imputing row 12701/40857 with 0 missing, elapsed time: 883.698
Imputing row 12801/40857 with 0 missing, elapsed time: 883.735
Imputing row 12901/40857 with 0 missing, elapsed time: 883.797
Imputing row 13001/40857 with 0 missing, elapsed time: 883.830
Imputing row 13101/40857 with 0 missing, elapsed time: 883.861
Imputing row 13201/40857 with 0 missing, elapsed time: 883.875
Imputing row 13301/40857 with 0 missing, elapsed time: 883.903
Imputing row 13401/40857 with 1 missing, elapsed time: 883.926
Imputing row 13501/40857 with 0 missing, elapsed time: 883.964
Imputing row 13601/40857 with 0 missing, elapsed time: 883.985
Imputing row 13701/40857 with 0 missing, elapsed time: 884.022
Imputing row 13801/40857 with 0 missing, elapsed time: 884.065
Imputing row 13901/40857 with 0 missing, elapsed time: 884.089
Imputing row 14001/40857 with 0 missing, elapsed time: 884.113
Imputing row 14101/40857 with 0 missing, elapsed time: 884.170
Imputing row 14201/40857 with 0 missing, elapsed time: 884.204
Imputing row 14301/40857 with 0 missing, elapsed time: 884.224
Imputing row 14401/40857 with 0 missing, elapsed time: 884.247
Imputing row 14501/40857 with 0 missing, elapsed time: 884.274
Imputing row 14601/40857 with 0 missing, elapsed time: 884.339
Imputing row 14701/40857 with 0 missing, elapsed time: 884.406
Imputing row 14801/40857 with 0 missing, elapsed time: 884.447
Imputing row 14901/40857 with 0 missing, elapsed time: 884.492
Imputing row 15001/40857 with 0 missing, elapsed time: 884.594
Imputing row 15101/40857 with 0 missing, elapsed time: 884.620
Imputing row 15201/40857 with 0 missing, elapsed time: 884.644
Imputing row 15301/40857 with 0 missing, elapsed time: 884.675
Imputing row 15401/40857 with 0 missing, elapsed time: 884.711
Imputing row 15501/40857 with 0 missing, elapsed time: 884.745
Imputing row 15601/40857 with 0 missing, elapsed time: 884.756
Imputing row 15701/40857 with 0 missing, elapsed time: 884.783
Imputing row 15801/40857 with 0 missing, elapsed time: 884.816
Imputing row 15901/40857 with 0 missing, elapsed time: 884.856
Imputing row 16001/40857 with 0 missing, elapsed time: 884.890
Imputing row 16101/40857 with 0 missing, elapsed time: 884.900
Imputing row 16201/40857 with 0 missing, elapsed time: 884.940
Imputing row 16301/40857 with 0 missing, elapsed time: 884.953
Imputing row 16401/40857 with 0 missing, elapsed time: 884.961
Imputing row 16501/40857 with 0 missing, elapsed time: 884.989
Imputing row 16601/40857 with 0 missing, elapsed time: 885.028
Imputing row 16701/40857 with 0 missing, elapsed time: 885.052
Imputing row 16801/40857 with 0 missing, elapsed time: 885.074
Imputing row 16901/40857 with 0 missing, elapsed time: 885.105
Imputing row 17001/40857 with 0 missing, elapsed time: 885.208
Imputing row 17101/40857 with 0 missing, elapsed time: 885.274
Imputing row 17201/40857 with 0 missing, elapsed time: 885.321
Imputing row 17301/40857 with 0 missing, elapsed time: 885.382
Imputing row 17401/40857 with 0 missing, elapsed time: 885.408
Imputing row 17501/40857 with 0 missing, elapsed time: 885.431
Imputing row 17601/40857 with 0 missing, elapsed time: 885.525
Imputing row 17701/40857 with 0 missing, elapsed time: 885.580
Imputing row 17801/40857 with 0 missing, elapsed time: 885.634
Imputing row 17901/40857 with 0 missing, elapsed time: 885.720
Imputing row 18001/40857 with 0 missing, elapsed time: 885.770
Imputing row 18101/40857 with 0 missing, elapsed time: 885.804
Imputing row 18201/40857 with 0 missing, elapsed time: 885.839
Imputing row 18301/40857 with 1 missing, elapsed time: 885.871
Imputing row 18401/40857 with 0 missing, elapsed time: 885.902
Imputing row 18501/40857 with 0 missing, elapsed time: 885.940
Imputing row 18601/40857 with 0 missing, elapsed time: 885.959
Imputing row 18701/40857 with 0 missing, elapsed time: 885.981
Imputing row 18801/40857 with 0 missing, elapsed time: 886.050
Imputing row 18901/40857 with 0 missing, elapsed time: 886.092
Imputing row 19001/40857 with 0 missing, elapsed time: 886.112
Imputing row 19101/40857 with 0 missing, elapsed time: 886.135
Imputing row 19201/40857 with 0 missing, elapsed time: 886.155
Imputing row 19301/40857 with 0 missing, elapsed time: 886.313
Imputing row 19401/40857 with 0 missing, elapsed time: 886.365
Imputing row 19501/40857 with 0 missing, elapsed time: 886.465
Imputing row 19601/40857 with 0 missing, elapsed time: 886.528
Imputing row 19701/40857 with 0 missing, elapsed time: 886.634
Imputing row 19801/40857 with 0 missing, elapsed time: 886.698
Imputing row 19901/40857 with 0 missing, elapsed time: 886.740
Imputing row 20001/40857 with 0 missing, elapsed time: 886.877
Imputing row 20101/40857 with 0 missing, elapsed time: 886.967
Imputing row 20201/40857 with 0 missing, elapsed time: 887.044
Imputing row 20301/40857 with 0 missing, elapsed time: 887.095
Imputing row 20401/40857 with 1 missing, elapsed time: 887.192
Imputing row 20501/40857 with 0 missing, elapsed time: 887.265
Imputing row 20601/40857 with 0 missing, elapsed time: 887.317
Imputing row 20701/40857 with 0 missing, elapsed time: 887.347
Imputing row 20801/40857 with 0 missing, elapsed time: 887.410
Imputing row 20901/40857 with 0 missing, elapsed time: 887.463
Imputing row 21001/40857 with 0 missing, elapsed time: 887.512
Imputing row 21101/40857 with 1 missing, elapsed time: 887.585
Imputing row 21201/40857 with 0 missing, elapsed time: 887.620
Imputing row 21301/40857 with 0 missing, elapsed time: 887.635
Imputing row 21401/40857 with 0 missing, elapsed time: 887.648
Imputing row 21501/40857 with 0 missing, elapsed time: 887.675
Imputing row 21601/40857 with 0 missing, elapsed time: 887.709
Imputing row 21701/40857 with 0 missing, elapsed time: 887.734
Imputing row 21801/40857 with 0 missing, elapsed time: 887.743
Imputing row 21901/40857 with 0 missing, elapsed time: 887.758
Imputing row 22001/40857 with 0 missing, elapsed time: 887.778
Imputing row 22101/40857 with 0 missing, elapsed time: 887.787
Imputing row 22201/40857 with 0 missing, elapsed time: 887.843
Imputing row 22301/40857 with 1 missing, elapsed time: 887.862
Imputing row 22401/40857 with 0 missing, elapsed time: 887.885
Imputing row 22501/40857 with 0 missing, elapsed time: 887.901
Imputing row 22601/40857 with 0 missing, elapsed time: 887.924
Imputing row 22701/40857 with 0 missing, elapsed time: 887.951
Imputing row 22801/40857 with 0 missing, elapsed time: 887.977
Imputing row 22901/40857 with 0 missing, elapsed time: 888.006
Imputing row 23001/40857 with 0 missing, elapsed time: 888.070
Imputing row 23101/40857 with 0 missing, elapsed time: 888.116
Imputing row 23201/40857 with 1 missing, elapsed time: 888.204
Imputing row 23301/40857 with 0 missing, elapsed time: 888.317
Imputing row 23401/40857 with 0 missing, elapsed time: 888.401
Imputing row 23501/40857 with 2 missing, elapsed time: 888.489
Imputing row 23601/40857 with 0 missing, elapsed time: 888.555
Imputing row 23701/40857 with 1 missing, elapsed time: 888.618
Imputing row 23801/40857 with 0 missing, elapsed time: 888.678
Imputing row 23901/40857 with 1 missing, elapsed time: 888.756
Imputing row 24001/40857 with 0 missing, elapsed time: 888.859
Imputing row 24101/40857 with 0 missing, elapsed time: 889.021
Imputing row 24201/40857 with 1 missing, elapsed time: 889.229
Imputing row 24301/40857 with 0 missing, elapsed time: 889.342
Imputing row 24401/40857 with 1 missing, elapsed time: 889.482
Imputing row 24501/40857 with 0 missing, elapsed time: 889.627
Imputing row 24601/40857 with 0 missing, elapsed time: 889.820
Imputing row 24701/40857 with 0 missing, elapsed time: 889.911
Imputing row 24801/40857 with 1 missing, elapsed time: 889.986
Imputing row 24901/40857 with 1 missing, elapsed time: 890.034
Imputing row 25001/40857 with 0 missing, elapsed time: 890.128
Imputing row 25101/40857 with 0 missing, elapsed time: 890.191
Imputing row 25201/40857 with 0 missing, elapsed time: 890.236
Imputing row 25301/40857 with 0 missing, elapsed time: 890.267
Imputing row 25401/40857 with 0 missing, elapsed time: 890.400
Imputing row 25501/40857 with 0 missing, elapsed time: 890.455
Imputing row 25601/40857 with 0 missing, elapsed time: 890.536
Imputing row 25701/40857 with 0 missing, elapsed time: 890.583
Imputing row 25801/40857 with 0 missing, elapsed time: 890.619
Imputing row 25901/40857 with 0 missing, elapsed time: 890.645
Imputing row 26001/40857 with 0 missing, elapsed time: 890.685
Imputing row 26101/40857 with 0 missing, elapsed time: 890.701
Imputing row 26201/40857 with 0 missing, elapsed time: 890.724
Imputing row 26301/40857 with 0 missing, elapsed time: 890.765
Imputing row 26401/40857 with 0 missing, elapsed time: 890.834
Imputing row 26501/40857 with 0 missing, elapsed time: 890.888
Imputing row 26601/40857 with 0 missing, elapsed time: 890.937
Imputing row 26701/40857 with 0 missing, elapsed time: 890.984
Imputing row 26801/40857 with 0 missing, elapsed time: 891.052
Imputing row 26901/40857 with 0 missing, elapsed time: 891.121
Imputing row 27001/40857 with 0 missing, elapsed time: 891.170
Imputing row 27101/40857 with 0 missing, elapsed time: 891.304
Imputing row 27201/40857 with 1 missing, elapsed time: 891.411
Imputing row 27301/40857 with 0 missing, elapsed time: 891.458
Imputing row 27401/40857 with 0 missing, elapsed time: 891.535
Imputing row 27501/40857 with 0 missing, elapsed time: 891.593
Imputing row 27601/40857 with 0 missing, elapsed time: 891.606
Imputing row 27701/40857 with 0 missing, elapsed time: 891.627
Imputing row 27801/40857 with 0 missing, elapsed time: 891.655
Imputing row 27901/40857 with 0 missing, elapsed time: 891.679
Imputing row 28001/40857 with 1 missing, elapsed time: 891.713
Imputing row 28101/40857 with 0 missing, elapsed time: 891.741
Imputing row 28201/40857 with 0 missing, elapsed time: 891.752
Imputing row 28301/40857 with 0 missing, elapsed time: 891.762
Imputing row 28401/40857 with 0 missing, elapsed time: 891.800
Imputing row 28501/40857 with 0 missing, elapsed time: 891.826
Imputing row 28601/40857 with 0 missing, elapsed time: 891.851
Imputing row 28701/40857 with 0 missing, elapsed time: 891.872
Imputing row 28801/40857 with 0 missing, elapsed time: 891.913
Imputing row 28901/40857 with 0 missing, elapsed time: 891.927
Imputing row 29001/40857 with 0 missing, elapsed time: 891.977
Imputing row 29101/40857 with 0 missing, elapsed time: 892.013
Imputing row 29201/40857 with 0 missing, elapsed time: 892.050
Imputing row 29301/40857 with 0 missing, elapsed time: 892.082
Imputing row 29401/40857 with 0 missing, elapsed time: 892.098
Imputing row 29501/40857 with 0 missing, elapsed time: 892.112
Imputing row 29601/40857 with 0 missing, elapsed time: 892.133
Imputing row 29701/40857 with 0 missing, elapsed time: 892.205
Imputing row 29801/40857 with 0 missing, elapsed time: 892.264
Imputing row 29901/40857 with 0 missing, elapsed time: 892.322
Imputing row 30001/40857 with 0 missing, elapsed time: 892.398
Imputing row 30101/40857 with 1 missing, elapsed time: 892.462
Imputing row 30201/40857 with 0 missing, elapsed time: 892.485
Imputing row 30301/40857 with 0 missing, elapsed time: 892.519
Imputing row 30401/40857 with 0 missing, elapsed time: 892.552
Imputing row 30501/40857 with 0 missing, elapsed time: 892.573
Imputing row 30601/40857 with 0 missing, elapsed time: 892.590
Imputing row 30701/40857 with 0 missing, elapsed time: 892.597
Imputing row 30801/40857 with 0 missing, elapsed time: 892.625
Imputing row 30901/40857 with 0 missing, elapsed time: 892.643
Imputing row 31001/40857 with 0 missing, elapsed time: 892.661
Imputing row 31101/40857 with 0 missing, elapsed time: 892.732
Imputing row 31201/40857 with 0 missing, elapsed time: 892.749
Imputing row 31301/40857 with 0 missing, elapsed time: 892.786
Imputing row 31401/40857 with 0 missing, elapsed time: 892.818
Imputing row 31501/40857 with 0 missing, elapsed time: 892.835
Imputing row 31601/40857 with 0 missing, elapsed time: 892.846
Imputing row 31701/40857 with 0 missing, elapsed time: 892.868
Imputing row 31801/40857 with 0 missing, elapsed time: 892.883

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [112]:
terry_prac.head()

  Subject_Age_Group               Officer_Race Subject_Perceived_Race
0           18 - 25                      White                  White
1           36 - 45                      White                  Other
2           36 - 45                      Asian           Multi-Racial
3           36 - 45  Black or African American                  Asian
4           36 - 45                      White                  Other

In [115]:
terry_merged2 = terry_merged.drop(columns=['Subject_Age_Group','Officer_Race','Subject_Perceived_Race'])

In [116]:
terry_merged2.columns

Index(['Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID', 'Stop_Resolution',
       'Weapon_Type', 'Officer_ID', 'Officer_YOB', 'Officer_Gender',
       'Subject_Perceived_Gender', 'Reported_Date', 'Reported_Time',
       'Initial_Call_Type', 'Final_Call_Type', 'Call_Type', 'Officer_Squad',
       'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector', 'Beat', 'Arrested',
       'Weapon_Found'],
      dtype='object')

In [117]:
terry_merged2['Subject_Age_Group'] = terry_prac['Subject_Age_Group']
terry_merged2['Officer_Race'] = terry_prac['Officer_Race']
terry_merged2['Subject_Perceived_Race'] = terry_prac['Subject_Perceived_Race']

In [118]:
terry_merged2.head()

,Subject_ID,GO_/_SC_Num,Terry_Stop_ID,Stop_Resolution,Weapon_Type,Officer_ID,Officer_YOB,Officer_Gender,Subject_Perceived_Gender,Reported_Date,...,Arrest_Flag,Frisk_Flag,Precinct,Sector,Beat,Arrested,Weapon_Found,Subject_Age_Group,Officer_Race,Subject_Perceived_Race
1,-1,20150000130727,80117,Arrest,None,7557,1985,M,Male,2015-09-06T00:00:00,...,N,N,North,L,L3,1.0,0.0,36 - 45,White,Other
2,-1,20150000405361,102566,Field Contact,None,6954,1974,M,Male,2015-11-21T00:00:00,...,N,Y,East,G,G3,0.0,0.0,36 - 45,Asian,Multi-Racial
3,-1,20140000120677,92317,Arrest,None,7500,1984,M,Male,2015-10-16T00:00:00,...,N,N,South,O,O2,1.0,0.0,36 - 45,Black or African American,Asian
16,-1,20150000004043,70892,Field Contact,None,7582,1966,M,Female,2015-08-08T00:00:00,...,N,N,East,G,G2,0.0,0.0,26 - 35,Hispanic or Latino,Multi-Racial
19,-1,20150000004385,76734,Field Contact,None,6759,1970,M,Male,2015-08-26T00:00:00,...,N,N,North,N,N2,0.0,0.0,18 - 25,Black or African American,Native Hawaiian or Other Pacific Islander

In [119]:
terry_merged2.isna().sum()

Subject_ID                  0
GO_/_SC_Num                 0
Terry_Stop_ID               0
Stop_Resolution             0
Weapon_Type                 0
Officer_ID                  0
Officer_YOB                 0
Officer_Gender              0
Subject_Perceived_Gender    0
Reported_Date               0
Reported_Time               0
Initial_Call_Type           0
Final_Call_Type             0
Call_Type                   0
Officer_Squad               0
Arrest_Flag                 0
Frisk_Flag                  0
Precinct                    0
Sector                      0
Beat                        0
Arrested                    0
Weapon_Found                0
Subject_Age_Group           0
Officer_Race                0
Subject_Perceived_Race      0
dtype: int64

In [122]:
terry_merged2.to_csv('/Users/naweedahmed/Desktop/Flatiron_Feb/project_three_feb/mod3-project-london-dsc/Terry_cleaned.csv')

In [123]:
terry_merged2.head()

,Subject_ID,GO_/_SC_Num,Terry_Stop_ID,Stop_Resolution,Weapon_Type,Officer_ID,Officer_YOB,Officer_Gender,Subject_Perceived_Gender,Reported_Date,...,Arrest_Flag,Frisk_Flag,Precinct,Sector,Beat,Arrested,Weapon_Found,Subject_Age_Group,Officer_Race,Subject_Perceived_Race
1,-1,20150000130727,80117,Arrest,None,7557,1985,M,Male,2015-09-06T00:00:00,...,N,N,North,L,L3,1.0,0.0,36 - 45,White,Other
2,-1,20150000405361,102566,Field Contact,None,6954,1974,M,Male,2015-11-21T00:00:00,...,N,Y,East,G,G3,0.0,0.0,36 - 45,Asian,Multi-Racial
3,-1,20140000120677,92317,Arrest,None,7500,1984,M,Male,2015-10-16T00:00:00,...,N,N,South,O,O2,1.0,0.0,36 - 45,Black or African American,Asian
16,-1,20150000004043,70892,Field Contact,None,7582,1966,M,Female,2015-08-08T00:00:00,...,N,N,East,G,G2,0.0,0.0,26 - 35,Hispanic or Latino,Multi-Racial
19,-1,20150000004385,76734,Field Contact,None,6759,1970,M,Male,2015-08-26T00:00:00,...,N,N,North,N,N2,0.0,0.0,18 - 25,Black or African American,Native Hawaiian or Other Pacific Islander

In [2]:
import pandas as pd

In [3]:
terry_clean = pd.read_csv('Terry_cleaned.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Further Data Cleaning

We will assign the null values under '-' with the mode of the column for 'Frisk_Flag'. We will then assign a binary value to his column, with Y = 1 and N = 0.

In [4]:
terry_clean['Frisk_Flag'].value_counts(dropna=False)

N    31413
Y     8966
-      478
Name: Frisk_Flag, dtype: int64

In [17]:
terry_clean['Frisk_Flag'].replace('-','N', inplace=True)

In [18]:
terry_clean['Frisk_Flag'].value_counts()

N    31891
Y     8966
Name: Frisk_Flag, dtype: int64

In [19]:
terry_clean.loc[(terry_clean['Frisk_Flag']=='N'),'Frisk_Flag'] = 0
terry_clean.loc[(terry_clean['Frisk_Flag']=='Y'),'Frisk_Flag'] = 1

In [20]:
terry_clean['Frisk_Flag'].value_counts()

0    31891
1     8966
Name: Frisk_Flag, dtype: int64

In [26]:
terry_clean.columns

Index(['Unnamed: 0', 'Subject_ID', 'GO_/_SC_Num', 'Terry_Stop_ID',
       'Stop_Resolution', 'Weapon_Type', 'Officer_ID', 'Officer_YOB',
       'Officer_Gender', 'Subject_Perceived_Gender', 'Reported_Date',
       'Reported_Time', 'Initial_Call_Type', 'Final_Call_Type', 'Call_Type',
       'Officer_Squad', 'Arrest_Flag', 'Frisk_Flag', 'Precinct', 'Sector',
       'Beat', 'Arrested', 'Weapon_Found', 'Subject_Age_Group', 'Officer_Race',
       'Subject_Perceived_Race'],
      dtype='object')

In [32]:
terry_clean['Year'] = terry_clean['Reported_Date'].apply(lambda x:x[:4])
terry_clean['Month']=terry_clean['Reported_Date'].apply(lambda x: x[5:7])

We will work out the Officer Age, by taking the difference between Officer YOB and Reported Date in order to determine the officer's age at the time of the incident.

In [33]:
terry_clean['Officer_YOB'].value_counts()

1986    2910
1987    2580
1984    2549
1991    2336
1985    2326
1992    2025
1990    1870
1988    1822
1989    1730
1982    1726
1983    1585
1979    1350
1981    1267
1971    1177
1993    1087
1978    1042
1977     933
1976     900
1973     853
1980     753
1995     741
1967     683
1968     579
1994     577
1970     543
1974     521
1969     511
1975     473
1962     446
1965     401
1972     392
1964     390
1996     236
1963     227
1958     218
1966     215
1961     200
1959     174
1997     165
1960     154
1954      43
1957      41
1953      32
1955      21
1956      16
1948      11
1900       9
1952       9
1949       5
1946       2
1951       1
Name: Officer_YOB, dtype: int64

In [38]:
import numpy as np

In [44]:
terry_clean['Year'] = terry_clean['Year'].astype(np.int64)

In [45]:
terry_clean['Officer_Age'] = terry_clean['Year'] - terry_clean['Officer_YOB']

Will will now club age groups into decades as follows:

20-29

30-39

40-49

50-59

60+

In [58]:
terry_clean.loc[(terry_clean['Officer_Age'] <= 29), 'Officer_Age_Group'] = '20-29'
terry_clean.loc[((terry_clean['Officer_Age'] >= 30) & (terry_clean['Officer_Age'] <= 39)), 'Officer_Age_Group'] = '30-39'
terry_clean.loc[((terry_clean['Officer_Age'] >= 40) & (terry_clean['Officer_Age'] <= 49)), 'Officer_Age_Group'] = '40-49'
terry_clean.loc[((terry_clean['Officer_Age'] >= 50) & (terry_clean['Officer_Age'] <= 59)), 'Officer_Age_Group'] = '50-59'
terry_clean.loc[(terry_clean['Officer_Age'] >= 60), 'Officer_Age_Group'] = '60+'

In [59]:
terry_clean['Officer_Age_Group'].value_counts(dropna=False)

30-39    18679
20-29    12036
40-49     6866
50-59     3060
60+        216
Name: Officer_Age_Group, dtype: int64

In [64]:
terry_clean['Subject_Perceived_Gender'].value_counts()

Male                                                         32424
Female                                                        8432
Gender Diverse (gender non-conforming and/or transgender)        1
Name: Subject_Perceived_Gender, dtype: int64

In [62]:
terry_clean.to_csv('/Users/naweedahmed/Desktop/Flatiron_Feb/project_three_feb/forkclone/mod3-project-london-dsc/Terry_cleaned.csv')

In [63]:
terry_clean.head()

,Unnamed: 0,Subject_ID,GO_/_SC_Num,Terry_Stop_ID,Stop_Resolution,Weapon_Type,Officer_ID,Officer_YOB,Officer_Gender,Subject_Perceived_Gender,...,Beat,Arrested,Weapon_Found,Subject_Age_Group,Officer_Race,Subject_Perceived_Race,Officer_Age,Year,Month,Officer_Age_Group
0,1,-1,20150000130727,80117,Arrest,None,7557,1985,M,Male,...,L3,1.0,0.0,36 - 45,White,Other,30,2015,09,30-39
1,2,-1,20150000405361,102566,Field Contact,None,6954,1974,M,Male,...,G3,0.0,0.0,36 - 45,Asian,Multi-Racial,41,2015,11,40-49
2,3,-1,20140000120677,92317,Arrest,None,7500,1984,M,Male,...,O2,1.0,0.0,36 - 45,Black or African American,Asian,31,2015,10,30-39
3,16,-1,20150000004043,70892,Field Contact,None,7582,1966,M,Female,...,G2,0.0,0.0,26 - 35,Hispanic or Latino,Multi-Racial,49,2015,08,40-49
4,19,-1,20150000004385,76734,Field Contact,None,6759,1970,M,Male,...,N2,0.0,0.0,18 - 25,Black or African American,Native Hawaiian or Other Pacific Islander,45,2015,08,40-49